﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - kontrolpanel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />


    <!--Jquery-->
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>

    <!--JCrop-->
    <link href="~/Scripts/Jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" />
    <script src="~/Scripts/Jcrop/js/jquery.Jcrop.min.js"></script>

    <!--File upload-->
    <script src="~/Scripts/Jcrop/file-upload/jquery.fileupload.js"></script>
    <script src="~/Scripts/Jcrop/file-upload/jquery.fileupload-ui.js"></script>
    <script src="~/Scripts/Jcrop/file-upload/jquery.iframe-transport.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <link href="~/Content/Shared/Administration.css" rel="stylesheet" />


    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">

                    Scoutpocket

                </li>

                <li class="sidebar-ui">
                
                    <i class="fa fa-user" aria-hidden="true"></i> @User.Identity.Name

                </li>
          
                <li>

                    <a href="~/SubProperties/AddSubProperties"><i class="glyphicon glyphicon-shopping-cart"></i> &nbsp; Egenskaber</a>
                </li>
                <li>

                    <a href="~/Scout/CreateScout"><i class="glyphicon glyphicon-shopping-cart"></i> &nbsp; Scouts</a>
                </li>

              

                <li>

                    <a href="~/ClubLists/Index"><i class="glyphicon glyphicon-shopping-cart"></i> &nbsp; Klubber</a>
                </li>


                <li>

                    <a href="~/Auth/Logout"><i class="glyphicon glyphicon-shopping-cart"></i> &nbsp; Log ud</a>
                </li>




            </ul>
        </div>



        <div id="page-nav-wrapper">
            <!-- Static navbar -->
            <nav class="navbar navbar-custom " role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#menu-toggle" class="navbar-brand" id="menu-toggle" style="padding-top:20px;"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav"></ul>
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#" class="glyphicon glyphicon-envelope"></a></li>
                            <li><a href="#" class="glyphicon glyphicon-tag" style="padding-top:18px;"></a></li>
                            <li><a href="#" class="glyphicon glyphicon-flag" style="padding-top:18px;"></a></li>
                            <li class="dropdown pull-left">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/Content/user.png" class="profile-image img-circle">&nbsp; test</a>
                                <ul class="dropdown-menu pull-right" style="width:200px;">

                                    <li><a href="#">Konto indstillinger</a></li>
                                    <li><a href="#">Generale indstillinger</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header"> </li>

                                    <li><a href="#">Hjælp</a></li>
                                    <li><a href="/Auth/Logout">Log ud</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="glyphicon glyphicon-cog" style="padding-top:18px;"></a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>

        </div>


        <div id="page-breadcrumbs-wrapper">
            Du er her: @ViewBag.Title
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        @RenderBody()


                   



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>



    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Shared/Administration.js"></script>
</body>
</html>
