﻿<div class="modal fade" id="Termsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Oprettelse af profil</h4>
            </div>
            <div class="modal-body">
               OBS: Hvis du opretter en profil på nuværende tidspunkt, vil din profil først være aktiv fra 1/1 2018.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fortryd</button>
                <button type="button" id="acceptTerms" data-redir="" class="btn btn-success">Videre</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.createProfile').on('click', function () {
            const redir = $(this).data("redir");
            $('#acceptTerms').data('redir', redir);

            event.preventDefault();
            //JS uses 0-based index months - hence month-1
            var year = moment().year();
            var showStart = moment([year, 8, 1]);
            var showEnd = moment().set({ 'month': 11, 'date': 31 });
            var showStart2 = moment([year, 3, 1]);
            var showEnd2 = moment([year, 5, 30])
            if (moment().isBetween(showStart, showEnd, null, '[]') || moment().isBetween(showStart2, showEnd2, null, '[]')) {
                $('#Termsmodal').modal('show');
            }
            else {
                window.location.replace(redir);
            }



        });
        $('#acceptTerms').on('click', function () {
            const redir = $(this).data("redir");
            window.location.replace(redir);
        });
    });
</script>