﻿@model Scoutpocket.Models.Database.User

@{ 
    Layout = null;
}

<ul id="login-dp" class="dropdown-menu dropdown-menu-right">
    <li>
        <div class="row">
            <div class="col-md-12">
                Log ind via
                <div class="social-buttons">
                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>

                </div>
                Eller

                <!--form start-->
                @using (Html.BeginForm("Logind", "Auth", FormMethod.Post))
                {
                 

                    <form class="form" role="form" method="get" action="" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">E-mail adresse</label>
                            @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail adresse" } })

                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Adgangskode</label>
                            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adgangskode" } })

                            <div class="help-block text-right"><a href="">Glemt adgangskode ?</a></div>
                        </div>
                        <div class="form-group">
                            @Html.ValidationSummary(true, "*", new { @class = "alert alert-danger" })
                            <button type="submit" class="btn btn-primary btn-block">Log ind</button>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Forbliv logget ind
                            </label>
                        </div>
                    </form>
                                        <!--form end-->

                }



            </div>
            <div class="bottom text-center">
                Ny her ? <a href="#"><b>Bliv en del af netværket</b></a>
            </div>
        </div>
    </li>
</ul>

