﻿@using Scoutpocket.Models.Database;
<!DOCTYPE html>
<html>
<head>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />



    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sticky-footer-navbar.css" rel="stylesheet">

    <link rel="SHORTCUT ICON" href="~/favicon.ico" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <!-- Alertbox for unsubscribing from regular player -->
    <div class="modal fade" id="deleteAlert" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" style="color:black">Afmeld abonnement</h4>
                </div>
                <div class="modal-body">
                    <p style="color:black">Er du sikker på, at du vil opsige dit abonnement?</p>
                    <p style="color:black">Opsigelsen vil først træde i kraft efter igangværende sæson.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="~/playersubscriptionchoice/1">Afmeld</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fortryd</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Alertbox for unsubscribing from club -->
    <div class="modal fade" id="deleteClubAlert" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" style="color:black">Afmeld abonnement</h4>
                </div>
                <div class="modal-body">
                    <p style="color:black">Er du sikker på, at du vil opsige dit abonnement?</p>
                    <p style="color:black">Opsigelsen vil først træde i kraft efter igangværende sæson.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="~/Subscription/DeleteClubSubscription">Afmeld</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fortryd</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="margin-top:-12px;"><img src="~/Content/Scout-Pocket-nav.png" height="45" alt="Scoutpocket.dk" /></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a class="page-scroll" href=""></a>
                    </li>
                    <li>
                        @*<a class="page-scroll" href="">Spiller</a>*@
                        <a class="page-scroll" href="~/spiller">Spiller</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/klub">Klub</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="~/samarbejdspartnere">Samarbejdspartnere</a>
                    </li>



                    @if (User.Identity.IsAuthenticated)

                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Min profil<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Min profil","Role","Auth")</li>
                           
                                @{
                                    User user = new User();
                                    Connection connection = new Connection();
                                    var GetUserName = User.Identity.Name;
                                    user = connection.Users.SingleOrDefault(a => a.UserMail == GetUserName);

                                    if (user.RoleID == 3)
                                    {
                                        bool preparedSubscription = true;
                                        try
                                        {
                                            //this might get nullerror. Only happens if there is only a subscription row in the database.
                                            preparedSubscription = user.profile.subscription.PreparedSubscription.Active;
                                        }
                                        catch(Exception)
                                        {
                                            preparedSubscription = true;
                                        }
                                        if (preparedSubscription == true && user.profile.subscription.Active == true)
                                        {
                                            <li>
                                                <a href="~/aendre-abonnement">Ændre abonnement</a>
                                            </li>

                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#deleteAlert">Afmeld abonnement</a>
                                            </li>
                                        }

                                    }
                                    if (user.RoleID == 2)
                                    {
                                        bool active = user.profile.subscription.Active;
                                        if (active == true)
                                        {
                                            <li>
                                                <a href="~/aendre-klub-abonnement">Ændre abonnement</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#deleteClubAlert">Afmeld abonnement</a>
                                            </li>
                                        }
                                    }


                                }
                                <li role="separator" class="divider"></li>
                                <li>

                                    @Html.ActionLink("Log ud", "Logout", "Auth")
                                </li>

                            </ul>
                        </li>



                    }
                    else
                    {
                        <li>
                            <a class="page-scroll" href="~/Logind">Log ind</a>

                        </li>



                    }









                </ul>
            </div>
        </div>
    </div>

    <!-- Fixed navbar -->


  

        @RenderBody()



    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)









</body>



</html>
