﻿@model Scoutpocket.Models.Database.ClubList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Administration.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClubList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClubImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClubListID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
