﻿@model IEnumerable<Scoutpocket.Models.Database.ClubList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Administration.cshtml";
}



<div class="continer">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubImage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClubName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClubImage)
                </td>
                <td>
                    @Html.ActionLink("Rediger", "Edit", new { id = item.ClubListID }) 



                </td>
            </tr>
        }

    </table>


</div>
