﻿@model Scoutpocket.ViewModels.SubPropertieViewModel
@{
    ViewBag.Title = "Opret egenskab";
    Layout = "~/Views/Shared/_Administration.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link href="~/Content/SubProperties/AddSubProperties.css" rel="stylesheet" />
<div id="exTab1">
    <ul class="nav nav-pills">
        <li class="active mainclass">
            <a href="#1a" data-toggle="tab">Opret egenskab</a>
        </li>
        @*<li class="mainclass class2">
                <a href="#2a" data-toggle="tab">Produktgalleri</a>
            </li>*@

    </ul>
    <div class="row">
        <div class="tab-content clearfix col-lg-4">


            <div class="tab-pane  active " id="1a">


                <form action="~/SubProperties/AddSubProperties" method="post" enctype="multipart/form-data" id="myform">
                    @Html.AntiForgeryToken()

                    <div class="col-md-8">

                        <br>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            @Html.EditorFor(model => model.SubPropertiesName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Egenskab" } })
                            @Html.ValidationMessageFor(model => model.SubPropertiesName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.SubPropertiesDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Beskrivelse" } })
                            @Html.ValidationMessageFor(model => model.SubPropertiesDescription, "", new { @class = "text-danger" })
                        </div>





                        <div class="form-group">

                            @Html.DropDownList("PositionID", null, "Vælg position", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">


                            @Html.DropDownList("PropertiesID", null, "Vælg kategori", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PropertiesID, "", new { @class = "text-danger" })

                        </div>










                    </div>

       

                </form>

            </div>

        </div>




    </div>
    <br />

    <div class="row">

        <button form="myform" class="btn btn-default " type="submit">Opret egenskab</button>
    </div>

    @ViewBag.Succes

    <br />



</div> <!--tab slutter her-->
