﻿@model Scoutpocket.Models.Database.Profile



@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ProfileID)

<div class="form-group">
 
        @*@Html.DisplayFor(model => model.player.PositionID, new { htmlAttributes = new { @class = "form-control" } })*@



        @if (Model.player.PositionID == 1)
        {
        <span>Målmand</span>
        <br />
     <img src="~/Img/Positions/Maalmand.png" width="310" />
            <br />
            <br />

      
        }
        @if (Model.player.PositionID == 2)
        {
            <span>Midtstopper</span>
            <br />
            @*<img src="~/Content/Img/Positions/Midtstopper.png" width="350" />*@

            <img src="~/Img/Positions/Midtstopper.png"  width="310" />
                <br />
                <br />

              
        }
        @if (Model.player.PositionID == 3)
        {
            
      <span>Venstre back</span>
            <br />
            <img src="~/Img/Positions/Venstre-back.png" width="310" />
                <br />
                <br />

            
        }

        @if (Model.player.PositionID == 4)
        {
            <span>Højre back</span>
            <br />
            <img src="~/Img/Positions/Hoejre-back.png" width="310" />
            <br />
            <br />

       
        }
        @if (Model.player.PositionID == 5)
        {

            <span>Defensiv midtbane</span>
            <br />
            <img src="~/Img/Positions/Defensiv-midtbane.png" width="310" />
            <br />
            <br />

    

        }
        @if (Model.player.PositionID == 6)
        {
            <span>Midterst midtbane</span>
            <br />
            <img src="~/Img/Positions/Miderst-midtbane.png" width="310" />
            <br />
            <br />

         
        }

        @if (Model.player.PositionID == 7)
        {
            <span>Offensiv midtbane</span>
            <br />
            <img src="~/Img/Positions/Offensiv-midtbane.png" width="310" />
            <br />
            <br />

       

        }
        @if (Model.player.PositionID == 8)
        {
            <span>Venstre wing</span>
                <br />
                <img src="~/Img/Positions/Venstre-wing.png" width="310" />
                <br />
                <br />

            

        }
        @if (Model.player.PositionID == 9)
        {
            <span>Højre wing</span>
                <br />
                <img src="~/Img/Positions/Hoejer-wing.png" width="310" />
                <br />
                <br />

            
        }

    @if (Model.player.PositionID == 10)
    {
        <span>Angriber</span>
            <br />
                <img src="~/Img/Positions/Angriber.png" width="310" />
                <br />
                <br />

             
    }

       








    </div>
