﻿@model Scoutpocket.ViewModels.RatingViewModel
@using System.Linq;

@{



    var getPlayer = 1;// Session["getPlayerID"];

    var getPlayerPosition = 1; //Session["getPlayerPositionID"];

    ViewBag.Player = getPlayer;

    ViewBag.Position = getPlayerPosition;
}





<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="~/Content/PlayerView/GetAllRatingModels.css" rel="stylesheet" />



<div class="container">




    <table class="table">
        <thead>
            <tr>
                @foreach (var item in Model.properties)
                {
                    <th>@item.PropertiesName</th>
                }
            </tr>
        </thead>

        <tbody>
            <tr>
                @foreach (var item in Model.properties)
                {
                

                    <td>
                      

                            @foreach (var item2 in item.SubProperties.Where(x => x.PositionID == @ViewBag.Position))
                            {



                                int value0 = -1;
                                int value1 = -1;




                                var propertyOne = Model.rating.Where(x => x.SubPropertiesID == item2.SubPropertiesID && x.PlayerID == ViewBag.Player).OrderByDescending(x => x.Date).Take(2).ToList();

                                if (!propertyOne.Any())
                                {
                                    <p>@item2.SubPropertiesName  <i class="fa fa-minus"  style="font-size:13pt; padding-left:5px;" aria-hidden="true"></i></p>
                                }

                                else if (propertyOne.Count == 1)
                                {
                                    value0 = Convert.ToInt32(propertyOne[0].Value);



                                    <p>@item2.SubPropertiesName  <i class="fa fa-minus" style="font-size:13pt;" aria-hidden="true"></i></p>
                                }
                                else
                                {
                                    for (int i = 0; i < propertyOne.Count(); i++)
                                    {
                                        value0 = Convert.ToInt32(propertyOne[0].Value);
                                        value1 = Convert.ToInt32(propertyOne[1].Value);
                                    }

                                    if (value0 > value1)
                                    {


                                        <p>@item2.SubPropertiesName <i class="fa fa-arrow-up" aria-hidden="true"></i>  @value0 </p>

                                }


                                    else if (value0 < value1)
                                    {


                                        <p>@item2.SubPropertiesName <i class="fa fa-arrow-down" aria-hidden="true"></i>  @value0 </p>

                            }



                                    else if (value1 < value0)
                                    {


                                        <p>@item2.SubPropertiesName <i class="fa fa-arrow-down" aria-hidden="true"></i>  @value1 </p>

                                    }



                                    else if (value0 == value1)
                                    {

                                        <p>@item2.SubPropertiesName <i class="fa fa-minus" aria-hidden="true"></i>  @value1 </p>

                                    }
                                }



                            }

         
                    </td>
                }
            </tr>


        </tbody>
    </table>




</div>
