﻿@model Scoutpocket.Models.Database.Profile
@using Scoutpocket.Models.Database;
@using Newtonsoft.Json;


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ProfileID)
<link href="~/Content/PlayerView/NameAndClub.css" rel="stylesheet" />

<div class="col-lg-11">
    <p>
        <h1 style="text-align:center; font-family: Arial Narrow; font-size:28pt;">
            <b>
                @if (Model != null)
                {
                    string strSpacer = " ";
                    @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } }) @Html.Raw(strSpacer) @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                }

                else
                {
                    <b>Model is null</b>

                }

            </b>


        </h1>


    </p>
    @if (Model != null)
    {
        <h2 style="text-align:center; font-family: Arial Narrow">
            <i id="clubName">
                @Html.DisplayFor(model => model.player.Clublist.ClubName, new { htmlAttributes = new { @class = "form-control" } }) (@Html.DisplayFor(model => model.player.Series.SeriesName, new { htmlAttributes = new { @class = "form-control" } }))

            </i>
            @if (Model.isCurrentUser)
            {
                 <i class="hoverOverPopOverData fa fa-pencil" id="editClubBtn" aria-hidden="true" style="font-size:16px"></i>
            }
        </h2>
          if (Model.isCurrentUser)
            {
                <div class="modal fade" id="changeClubModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ændre oplysninger</h4>
                      </div>
                      <div class="modal-body">

                           <div class="form-group">
                                <label for="SeriesCategory">Aldersgruppe</label>
                                @{ 
                                    SelectList seriesCategoryList = ViewBag.newSeriesCategories;
                                }
                                @Html.DropDownList("SeriesCategory", seriesCategoryList, "Vælg aldersgruppe", new { @class = "form-control", @style = "width:175px;"})
                            </div>
                          <div class="form-group">
                              <label for="region">Landsdel</label>
                              @{
                                  SelectList regionsList = ViewBag.Region;
                              }
                              @Html.DropDownList("RegionID", regionsList, "Vælg landsdel", new { @class = "form-control", @style = "width:175px;" })

                          </div>
                            <div class="form-group">
                                 <label for="seriess">Serie/årgang</label>
                                @{
                                    SelectList seriesList = ViewBag.Series;
                                    
                                }
                                @Html.DropDownList("seriess", seriesList, new { @class = "form-control", required = "required", @style = "width:175px;" })
                               
                            </div>
                          <hr />
                            <div class="form-group">
                                 <label for="ClubListID">Klub</label>
                                @Html.DropDownList("ClubListID", null, "Vælg en klub", new { @class = "form-control", required = "required", @style = "width:330px;" })
                            </div>            
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
                        <button type="button" id="saveNewClub" class="btn btn-success">Gem ændringer</button>
                      </div>
                    </div>
                  </div>
                </div>
            }

    }






</div>

<div class="col-lg-1" style="padding:0; margin-top: 15px">
    <div class="visible-lg">
       
        @{
            if (Model.player.Clublist.ClubImage == "" || Model.player.Clublist.ClubImage == null)
            {
                <img src="~/Img/Clubs/sc-logo.png" class="pull-right" height="105" />

            }
            else
            {
                <img src="../ClubsImage/@Html.DisplayFor(model => model.player.Clublist.ClubImage)" class="pull-right" height="105" />
            }
        }

    </div>

</div>

<!-- Originial names for player-->
<div id="TheClubName" data-attribute="@Json.Encode(Model.player.Clublist.ClubName)"></div>
<div id="TheSeriesName" data-attribute="@Json.Encode(Model.player.Series.SeriesName)"></div>
<div id="OrginialRegionName" data-attribute="@Json.Encode(Model.player.Region.RegionName)"></div>
<div id="OriginalSeriesCategoryName" data-attribute="@Json.Encode(Model.player.Series.SerieCategories.Single().SerieCategoryName)"></div>


<div id="OriginalRegionID" data-attribute="@Json.Encode(Model.player.Region.RegionID)"></div>
<div id="OriginalClubID" data-attribute="@Json.Encode(Model.player.ClubListID)"></div>
<div id="OriginalSeriesID" data-attribute="@Json.Encode(Model.player.SeriesID)"></div>
<div id="OriginalSeriesCategoryID" data-attribute="@Json.Encode(Model.player.Series.SerieCategories.Single().SerieCategoryID)"></div>


<div id="TheSeriesCategory" data-attribute="@Json.Encode(ViewBag.SeriesCategory)"></div>
<div id="regions" data-attribute="@Json.Encode(ViewBag.Region)"></div>

<div id="GetRegions" data-attribute="@Url.Action("GetRegions")"></div>
<div id="getSeries" data-attribute="@Url.Action("GetSeries")"></div>
<div id="getSeriesID" data-attribute="@Url.Action("GetSeriesID")"></div>
<div id="UpdatePlayerActionURL" data-attribute="@Url.Action("UpdatePlayer")"></div>

<script src="~/Scripts/Player/NameAndClub.js"></script>