﻿
@{


    Layout = null;
}









<link href="~/Content/PlayerView/ShowPlayerDataByID.css" rel="stylesheet" />




<table>

    <tr>

        <td>

            <div id="popoverRadarData-0" class="btn" href="#" rel="popover" data-placement="bottom" data-trigger="click">
                @{
                    if (ViewBag.avgProp[0] == 0)
                    {

                        <div class="numberCircle"> <p style="font-size:35px; font-family: Arial Narrow;">-</p><p style="font-style:italic; font-family: Arial Narrow;"> Teknisk </p></div>
                    }
                    else
                    {
                        
                        <div class="numberCircle"><p style="font-size:22px;">@ViewBag.avgProp[0]</p><p style="font-style:italic; font-family: Arial Narrow;"> Teknisk </p></div>
                      
                    }
                }
            </div>
            <!-- this is the radar chart it should show-->

           <canvas style="display:none" class="" id="Radar-0" width="325" height="200" data-placement="bottom"></canvas>

        </td>

        <td>
            <div id="popoverRadarData-1" class="btn" href="#" rel="popover" data-placement="bottom" data-trigger="click" style="margin-left:25px;">

                @{
                    if (ViewBag.avgProp[1] == 0)
                    {

                        <div class="numberCircle"> <p style="font-size:35px; font-family: Arial Narrow;">-</p><p style="font-style:italic; font-family: Arial Narrow;"> Mental </p></div>
                    }
                    else
                    {
                        <div class="numberCircle"><p style="font-size:22px;">@ViewBag.avgProp[1]</p><p style="font-style:italic; font-family: Arial Narrow;"> Mental </p></div>

                    }
                }
            </div>


            <canvas style="display:none" id="Radar-1" width="325" height="200" data-placement="bottom"></canvas>


        </td>
        <td>
            <div id="popoverRadarData-2" class="btn" href="#" rel="popover" data-placement="bottom" data-trigger="click" style="margin-left:25px;">
                @{
                    if (ViewBag.avgProp[2] == 0)
                    {
                        <div class="numberCircle"> <p style="font-size:35px; font-family: Arial Narrow;">-</p><p style="font-style:italic; font-family: Arial Narrow;">Fysisk</p></div>
                    }
                    else
                    {
                        <div class="numberCircle"> <p style="font-size:22px;">@ViewBag.avgProp[2]</p><p style="font-style:italic; font-family: Arial Narrow;"> Fysisk </p></div>

                    }
                }
            </div>

            <canvas style="display:none" id="Radar-2" width="325" height="200" data-placement="bottom"></canvas>


        </td>
    </tr>

</table>
<div id="radarObject"></div>
<div id="radarObjectTeknisk"></div>
<div id="radarObjectMental"></div>
<div id="radarObjectFysisk"></div>

<div id="radarObjectAverageTeknisk"></div>
<div id="radarObjectAverageMental"></div>
<div id="radarObjectAverageFysisk"></div>
<script>
    $('#radarObject').data('attribute',@Json.Encode(@ViewBag.radarObject[0][ViewBag.radarObject[0].Length-1]));
    $('#radarObjectTeknisk').data('attribute',@Html.Raw(@Json.Encode(@ViewBag.radarObject[0])));
    $('#radarObjectMental').data('attribute',@Html.Raw(@Json.Encode(@ViewBag.radarObject[1])));
    $('#radarObjectFysisk').data('attribute',@Html.Raw(@Json.Encode(@ViewBag.radarObject[2])));

    $('#radarObjectAverageTeknisk').data('attribute',@Html.Raw(@Json.Encode(@ViewBag.OtherPlayerAverage[0])));
    $('#radarObjectAverageMental').data('attribute',@Html.Raw(@Json.Encode(@ViewBag.OtherPlayerAverage[1])));
     $('#radarObjectAverageFysisk').data('attribute',@Html.Raw(@Json.Encode(@ViewBag.OtherPlayerAverage[2])));
</script>



<!-- RADAR CHART https://gist.github.com/nbremer/21746a9668ffdf6d8242#file-radarchart-js -->
<script src="~/Scripts/Player/ShowPlayerByID.js"></script>
