﻿@model Scoutpocket.ViewModels.ClubProfileViewModel

@{
    ViewBag.Title = "Ændre abonnement for spiller";
}

<link href="~/Content/PlayerView/ChangePlayerSubscription.css" rel="stylesheet" />

<div class="jumbotron football-field">


    <div class="container" style="min-height:100vh;">
        <div class="row">

            <h1 style="color:white; text-align:center; font-family: Arial Narrow; font-size: 32pt; margin-top: 45px">VÆLG NYT ABONNEMENT</h1>

        </div>

        <div class="row">
            <div class='pricing-table'>
                <div class='col-md-4 col-sm-6 @(ViewBag.ExistingCategory == 1 ? "disable-selection" : "")'>
                    <div class='table-column' style="min-height:500px;">
                        <div class='header'>
                            <h3>BASIS</h3>
                            <h5 style="font-family: Arial Narrow; font-size: 11pt"><i>Scout Pocket</i></h5>
                            <h6 style="margin-bottom: -15px;"><span class='price'>Gratis</span> </h6>

                            <p class='small' style='visibility:hidden'>(When paid annually)</p>
                        </div>
                        <div class='table-body'>
                            <p class='description'>Spillerprofil</p>
                            <p class='description'>Vurderinger af dine egenskaber</p>
                            <p class='description' style="font-size:13.3px">Grafisk fremvisning af dine egenskaber</p>
                            <p class='description'>Indblik i hvem der har set din profil</p>


                        </div>
                        <div class='sign-up-button'>
                            @*<input id="0" type="button" class="btn btn-warning btn-lg btn-block" onclick="javascript: paymentwindow.open()" name="Basis" value="Vælg" style="margin-top: -13px;" />*@
                            <input id="0" type="button" class="btn btn-warning btn-lg btn-block" onclick="location.href = '/playersubscriptionchoice/1';" name="Basis" value="Vælg" style="margin-top: -13px;" />
                        </div>
                    </div>
                </div>

                <div class='col-md-4 col-sm-6 @(ViewBag.ExistingCategory == 2 ? "disable-selection" : "")'>
                    <div class='table-column' style="min-height:500px;">
                        <div class='header'>
                            <h3>FYSISK</h3>
                            <h5 style="font-family: Arial Narrow; font-size: 11pt"><i>Forløb med fysisk træner</i></h5>
                            <h6 style="margin-bottom: -15px"><span class='price'>@ViewBag.Physical kr./md.</span></h6>
                            <p class='small' style='visibility:hidden'>(When paid annually)</p>
                        </div>
                        <div class='table-body'>

                            <!--Dropdown start-->

                            <p class='description'><a href="#" style="color:white; text-decoration:none;" onclick="dropdownDiv('item')">Basis</a><i class="fa fa-caret-down" style="padding-left: 3px" aria-hidden="true"></i></p>
                            <div id="item" style="display:none;">

                                <!--Dropdown link-->

                                <p class='description'>Spillerprofil</p>
                                <p class='description'>Vurderinger af dine egenskaber</p>
                                <p class='description' style="font-size:13.3px">Grafisk fremstilling af dine egenskaber</p>
                                <p class='description'>Indblik i hvem der har set din profil</p>

                            </div>


                            <script>
                                function dropdownDiv(id) {
                                    var div = document.getElementById(id);
                                    div.style.display = div.style.display == "block" ? "none" : "block";
                                }
                            </script>

                            <!--Dropdown slut-->


                            <p class='description'>Periodiseret træningsprogram*</p>
                            <p class='description'>Baseline målinger</p>
                            <p class='description'>Videofeedback og rettelse af teknik</p>
                        </div>
                        <div class='sign-up-button'>
                            <input id="@ViewBag.Physical" type="button" class="btn btn-warning btn-lg btn-block" onclick="location.href = '/playersubscriptionchoice/2';" name="Fysisk" value="Vælg" style="margin-top: -15px;" />
                        </div>
                        <div>
                            <p style="color: white; font-family: Arial Narrow; font-size: 8pt">*Antallet af programmer afhænger af tidspunktet for tilmelding</p>
                        </div>
                    </div>
                </div>

                <div class='col-md-4 col-sm-6 @(ViewBag.ExistingCategory == 3 ? "disable-selection" : "")'>
                    <div class='table-column' style="min-height:500px;">
                        <div class='header'>
                            <h3>MENTAL</h3>
                            <h5 style="font-family: Arial Narrow; font-size: 11pt"><i>Forløb med mental træner</i></h5>
                            <h6 style="margin-bottom: -15px"><span class='price'>@ViewBag.Mental kr./md.</span></h6>
                            <p class='small' style='visibility:hidden'>(When paid annually)</p>
                        </div>
                        <div class='table-body'>
                            <!--Dropdown start-->

                            <p class='description'><a href="#" style="color:white; text-decoration:none;" onclick="dropdownDivSecond('item2')">Basis</a><i class="fa fa-caret-down" style="padding-left: 3px" aria-hidden="true"></i></p>
                            <div id="item2" style="display:none;">

                                <!--Dropdown link-->

                                <p class='description'>Spillerprofil</p>
                                <p class='description'>Vurderinger af dine egenskaber</p>
                                <p class='description' style="font-size:13.3px">Grafisk fremstilling af dine egenskaber</p>
                                <p class='description'>Indblik i hvem der har set din profil</p>


                            </div>


                            <script>
                                function dropdownDivSecond(id) {
                                    var div = document.getElementById(id);
                                    div.style.display = div.style.display == "block" ? "none" : "block";
                                }
                            </script>

                            <!--Dropdown slut-->
                            <p class='description'>Coaching</p>
                            <p class='description'>Udviklingsorienteret handlingsplan</p>
                            <p class='description'>Tre sessioner á 60 min.</p>
                        </div>
                        <div class='sign-up-button'>
                            <input id="@ViewBag.Mental" type="button" class="btn btn-warning btn-lg btn-block" onclick="location.href = '/playersubscriptionchoice/3';" name="Mental" value="Vælg" style="margin-top: -13px;" />
                        </div>
                    </div>
                </div>



                <div class='col-md-4 col-sm-6 @(ViewBag.ExistingCategory == 4 ? "disable-selection" : "")'>
                    <div class='table-column' style="min-height:500px;">
                        <div class='header'>
                            <h3>FYSISK OG MENTAL</h3>
                            <h5 style="font-family: Arial Narrow; font-size: 11pt"><i>Forløb med både fysisk og mental træner</i></h5>
                            <h6 style="margin-bottom: -15px"><span class='price'>@ViewBag.Both kr./md.</span></h6>
                            <p class='small' style='visibility:hidden'>(When paid annually)</p>
                        </div>
                        <div class='table-body'>
                            <!--Dropdown start-->

                            <p class='description'><a href="#" style="color:white; text-decoration:none;" onclick="dropdownDivThird('item3')">Basis</a><i class="fa fa-caret-down" style="padding-left: 3px" aria-hidden="true"></i></p>
                            <div id="item3" style="display:none;">

                                <!--Dropdown link-->

                                <p class='description'>Spillerprofil</p>
                                <p class='description'>Vurderinger af dine egenskaber</p>
                                <p class='description' style="font-size:13.3px">Grafisk fremstilling af dine egenskaber</p>
                                <p class='description'>Indblik i hvem der har set din profil</p>


                            </div>


                            <script>
                                function dropdownDivThird(id) {
                                    var div = document.getElementById(id);
                                    div.style.display = div.style.display == "block" ? "none" : "block";
                                }
                            </script>

                            <!--Dropdown slut-->
                            <!--Dropdown start-->

                            <p class='description'><a href="#" style="color:white; text-decoration:none;" onclick="dropdownDivFourth('item4')">Fysisk</a><i class="fa fa-caret-down" style="padding-left: 3px" aria-hidden="true"></i></p>
                            <div id="item4" style="display:none;">

                                <!--Dropdown link-->

                                <p class='description'>Periodiseret træningsprogram</p>
                                <p class='description'>Baseline målinger</p>
                                <p class='description'>Videofeedback og rettelse af teknik</p>

                            </div>


                            <script>
                                function dropdownDivFourth(id) {
                                    var div = document.getElementById(id);
                                    div.style.display = div.style.display == "block" ? "none" : "block";
                                }
                            </script>

                            <!--Dropdown slut-->
                            <!--Dropdown slut-->
                            <!--Dropdown start-->

                            <p class='description'><a href="#" style="color:white; text-decoration:none;" onclick="dropdownDivFifth('item5')">Mental</a><i class="fa fa-caret-down" style="padding-left: 3px" aria-hidden="true"></i></p>
                            <div id="item5" style="display:none;">

                                <!--Dropdown link-->

                                <p class='description'>Coaching</p>
                                <p class='description'>Udviklingsorienteret handlingsplan</p>
                                <p class='description'>Tre sessioner á 60 min.</p>


                            </div>


                            <script>
                                function dropdownDivFifth(id) {
                                    var div = document.getElementById(id);
                                    div.style.display = div.style.display == "block" ? "none" : "block";
                                }
                            </script>

                            <!--Dropdown slut-->

                        </div>
                        <div class='sign-up-button' style="margin-top:100px">
                            <input id="@ViewBag.Both" type="button" class="btn btn-warning btn-lg btn-block" onclick="location.href = '/playersubscriptionchoice/4';" name="MentalFysisk" value="Vælg" style="margin-top: -13px;" />
                        </div>

                    </div>
                </div>
                <div class='table-body'>
                    <p class='description' style="margin-bottom:-20px">NB:</p>
                    <p><li style="font-family: Arial Narrow; font-size: 10.5pt; color: #fff; margin-bottom: -5px; padding-left:8px;">Ved valg af et nyt abonnement er abonnementet først gældende fra 1/1 2018</li></p>
                    <p><li style="font-family: Arial Narrow; font-size: 10.5pt; color: #fff; padding-left:8px;">Hvis du vælger et abonnement med en fysisk eller mental træner, skal du, i samråd med træner, aftale, hvornår forløbet kan påbegyndes, og hvordan forløbet skal struktureres</li></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Player/ChangePlayerSubscription.js"></script>