﻿@model Scoutpocket.ViewModels.PlayerProfileViewModel

@{
    ViewBag.Title = "Opret spiller";
  
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/Content/PlayerView/CreatePlayer.css" rel="stylesheet" />
<script src="~/Scripts/locales/bootstrap-datepicker.js"></script>
<script src="~/Scripts/locales/bootstrap-datepicker.da.min.js"></script>

<style>
    .datepicker {
        padding: 6px 12px !important;
    }
</style>

<div class="jumbotron football-field">
    <div class="container" style="min-height:92vh;">

        <div class="col-md-4"></div>

        <div class="col-md-4">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formID", name= "registration", @class = "form-horizontal" }))
            {


                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group" style="margin-top:35px; margin-bottom:20px;">
                    <h2 style="color:white; text-align:center; font-family: Arial Narrow; font-size:30pt">OPRET SPILLER</h2>
                    
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fornavn", required = "required" } })
                    @*@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })*@
                    <div id="errorFirstName" class="errorMessage" style="color:red;">Indtast dit fornavn.</div>


                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Efternavn", required = "required" } })
                    @*@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })*@
                    <div id="errorLastname" class="errorMessage" style="color:red;">Indtast dit efternavn.</div>


                </div>


                <div class="form-group">

                    @*<div role="group">

                            <div id="juicyDates"></div>
                        </div>*@


                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "datepicker input-group date form-control", @placeholder = "Fødselsdato", required = "required" } })
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })


                    @*@Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })*@

                    <div id="errorBirth" class="errorMessage" style="color:red;">Indtast din fødselsdato.</div>


                </div>


                    <div class="form-group">

                        <!--med style kan du vælge width-->
                        @Html.DropDownList("gender", ViewBag.gender as List<SelectListItem>, new { @class = "form-control", @style = "width:110px;" })

                        <div id="errorGender" class="errorMessage" style="color:red;">Vælg køn.</div>

                        @*@Html.ValidationMessageFor(model => model.SeriesID, "", new { @class = "text-danger" })
                            <div id="errorMessageDiv" class="errorMessage">Vær venlig at udfylde felterne.</div>*@

                    </div>

                    <div class="form-group">
                        @Html.DropDownList("SeriesCategory", new SelectList(string.Empty, "Value", "Text"), "Vælg aldersgruppe", new { @class = "form-control", @style = "width:175px;" })
                        <div id="errorSeriesCategory" class="errorMessage" style="color:red;">Vælg aldersgruppe</div>
                    </div>

                    <div class="form-group">

                        @Html.DropDownList("RegionID", new SelectList(string.Empty, "Value", "Text"), "Vælg landsdel", new { @class = "form-control", @style = "width:175px;" })
                        <div id="errorRegionID" class="errorMessage" style="color:red;">Vælg en Landsdel</div>

                    </div>

                    <div class="form-group">
                        @Html.DropDownList("Seriess", new SelectList(string.Empty, "Value", "Text"), "Vælg serie/årgang", new { @class = "form-control", required = "required", @style = "width:175px;" })
                        <div id="errorSerie" class="errorMessage">Vælg en serie/årgang</div>

                    </div>


                    <div class="form-group">

                        @Html.DropDownList("ClubListID", null, "Vælg en klub", new { @class = "form-control", required = "required", @style = "width:330px;" })
                        @*@Html.ValidationMessageFor(model => model.ClubName, "", new { @class = "text-danger" })*@
                        <div id="errorClubList" class="errorMessage">Vælg en klub</div>
                    </div>

                    <div class="form-group">


                        @Html.DropDownList("PositionID", null, "Vælg position", new { @class = "form-control", required = "true", @style = "width:175px;" })
                        @*@Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger" })*@
                        <div id="errorPositon" class="errorMessage">Vælg en position</div>


                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail adresse", required = "required" } })
                        @Html.ValidationMessageFor(model => model.UserMail, "", new { @class = "text-danger" })
                        <div id="errorMail" class="errorMessage">Indtast din e-mail</div>


                    </div>
                    <div class="form-group">

                        @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adgangskode", required = "required" } })
                        @*@Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })*@
                        <div id="errorPass" class="errorMessage">Indtast en adgangskode</div>

                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.UserPasswordRepeat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gentag adgangskode", required = "required" } })
                        @*@Html.ValidationMessageFor(model => model.UserPasswordRepeat, "", new { @class = "text-danger" })*@
                        <div id="errorPassRepeat" class="errorMessage">Indtast samme adgangskode</div>
                        
                        <div id="errorPassCompare" class="errorMessage">Adgangskoderne er ikke ens</div>
                        <div class="checkbox" style="margin-left:20px;">
                            <label style="color:white;"><input type="checkbox" id="remember" required="required" value="">Jeg accepterer <a id="chb" href="@Url.Action("Conditions", "Home")" style="color:#6198ef;">handelsbetingelser</a></label>

                            <div id="errorCH" class="errorMessage">Du skal acceptere vores handelsbetingelser</div>
                        </div>

                    </div>



                    <div class="form-group">

                        <input type="submit" value="Opret spiller" class="btn btn-info btn-block" style="margin-bottom:50px" />

                    </div>
             
            }





        </div>

        <div class="col-md-4"></div>
    </div>
</div>
<div id="getSeriesCategories" data-attribute="@Url.Action("GetSerieCategories")"></div>
<div id="getSeriesID" data-attribute="@Url.Action("GetSeriesID")"></div>
<div id="getSeries" data-attribute="@Url.Action("GetSeries")"></div>
<div id="GetRegions" data-attribute="@Url.Action("GetRegions")"></div>
<div id="createPlayer" data-attribute="@Url.Action("CreatePlayer", "Player")"></div>
<script src="~/Scripts/Player/CreatePlayer.js"></script>
