﻿@model Scoutpocket.Models.Database.Profile
@using Scoutpocket.Models.Database

@{

    Layout = "~/Views/Shared/_Profiles.cshtml";


    Session["getPlayerID"] = Model.player.PlayerID;
    Session["getPlayerPositionID"] = Model.player.PositionID;

   

    var test = Session["getPlayerID"].ToString();



}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.webui-popover.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/Scripts/jquery.webui-popover.js"></script>

<script src="~/Scripts/Chart.js"></script>

<script src="~/Scripts/threesy-line.js"></script>

<!--JCrop-->
<script src="~/Scripts/Jcrop/js/jquery.Jcrop.min.js"></script>
<!--File upload-->
<script src="~/Scripts/Jcrop/file-upload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/Jcrop/file-upload/jquery.fileupload.js"></script>
<script src="~/Scripts/Jcrop/file-upload/jquery.fileupload-ui.js"></script>

<link href="/Content/PlayerView/GetPlayerByID.css" rel="stylesheet" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Scoutpocket.dk</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<link href="~/Content/login-dp.css" rel="stylesheet" />


    <div class="container" style="margin-top:50px;">

 
        <div class="col-lg-12 centered-text" style="margin-bottom:75px; border-bottom:solid; border-color:white; padding-bottom:10px; border-width:3px; color:white;">
            @Html.Partial("~/Views/Player/_NameAndClub.cshtml")
            <!--Virker-->



        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row" style="margin-top:-15px;">
                <img src="../Uploads/@Html.DisplayFor(model => model.Image)" class="img-responsive img-circle  center-block" style="height:230px;width:230px;" />

            </div>
            <div class="row" style="padding-top:15px; text-align:center; font-size:13pt; font-family: Arial Narrow;">
                <p>
                    <b>
                        @{
                            var birthdate = Model.user.profile.player.BirthDate;

                            var dayandbirth = Model.user.profile.player.BirthDate.ToString().Substring(0, 10);


                            // Save today's date.
                            var today = DateTime.Today;
                            // Calculate the age.
                            var age = today.Year - birthdate.Year;


                            ViewBag.GetAge = age;

                            ViewBag.GetDayAndMonth = dayandbirth;
                        }
                        Alder: @ViewBag.GetAge år (@ViewBag.GetDayAndMonth)
                    </b>
                </p>

            </div>
            @if (Model.isOwningClub)
            {
                <br/>
                 <br/>
            }
            <div class="row" style="margin-top:25px;">
                <h3 style="font-size:16pt; text-decoration:underline; font-family: Arial Narrow;">
                    <b>
                        Position
                    </b>
                </h3>
            </div>          
             <div class="row" style="margin-top:25px; font-family: Arial Narrow;">
                @Html.Partial("~/Views/Player/_GetPosition.cshtml")
            </div>
        </div>
        <div class="col-lg-1 visible-lg" style="border-left-style:solid; border-width:2px; height:650px; margin-left:60px;">
        </div>

        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-right" style="margin-top:-20px">
            <div class="row">
                <h3 style="font-size:16pt; font-family: Arial Narrow; text-decoration:underline; margin-left:0px;">
                    <b>
                        Egenskaber
                    </b>
                </h3>
            </div>
            <div class="row" style="margin-top:5px;">
                <div class="radarChart"></div>

                @Html.Action("getRate", Model)

            </div>
            <div class="row" style="margin-top:7px;">
                <h3 style="font-size:16pt; font-family: Arial Narrow; text-decoration:underline; margin-left:0px; margin-bottom:25px">
                    <b>
                        Gennemsnitlig vurdering
                    </b>
                </h3>
              @Html.Partial("_ShowPlayerDataByID")
                

            </div>

        </div> 
        @if(Model.isCurrentUser)
        {
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="row" style="margin-top:25px;">
                    <h3 style="font-size:16pt; font-family: Arial Narrow; text-decoration:underline">
                        <b>
                            De har set min profil
                        </b>
                    </h3>
                </div>
                <div class="row" style="margin-top:1vw;">
                    <!--Klubber som har besøgt profilen skal vises her-->
               
                    @Html.Action("GetViewGroupBy", Model)
               

                </div>
            </div>
         }
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height:50px;">
        </div>


    </div>

    
<script src="/Scripts/Player/GetPlayerByID.js"></script>