﻿
@{


    Layout = null;
}
<script src="~/Scripts/jquery-3.2.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.webui-popover.js"></script>
<link href="~/Content/jquery.webui-popover.css" rel="stylesheet" />


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/PlayerView/GetPropertiesAVG.css" rel="stylesheet" />


<!--JCrop-->

<script src="~/Scripts/Jcrop/js/jquery.Jcrop.min.js"></script>
<!--File upload-->
<script src="~/Scripts/Jcrop/file-upload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/Jcrop/file-upload/jquery.fileupload.js"></script>
<script src="~/Scripts/Jcrop/file-upload/jquery.fileupload-ui.js"></script>


<script src="~/Scripts/bootstrap.js"></script>


<table>

    <tr>

        <td>

            <div id="popoverRadarData-0" class="btn" href="#" rel="popover" data-placement="bottom" data-trigger="click">
                @{
                    if (ViewBag.avgProp[0] == 0)
                    {

                        <div class="numberCircle"> <p style="font-size:35px; font-family: Arial Narrow;">-</p><p style="font-style:italic; font-family: Arial Narrow;"> Teknisk </p></div>
                    }
                    else
                    {
                        
                        <div class="numberCircle"><p style="font-size:22px;">@ViewBag.avgProp[0]</p><p style="font-style:italic; font-family: Arial Narrow;"> Teknisk </p></div>
                      
                    }
                }
            </div>
            <!-- this is the radar chart it should show-->

            <canvas style="display:none" class="" id="Radar-0" width="340" height="224" data-placement="bottom"></canvas>


        </td>

        <td>
            <div id="popoverRadarData-1" class="btn" href="#" rel="popover" data-placement="bottom" data-trigger="click" style="margin-left:25px;">

                @{
                    if (ViewBag.avgProp[1] == 0)
                    {

                        <div class="numberCircle"> <p style="font-size:35px; font-family: Arial Narrow;">-</p><p style="font-style:italic; font-family: Arial Narrow;"> Mental </p></div>
                    }
                    else
                    {
                        <div class="numberCircle"><p style="font-size:22px;">@ViewBag.avgProp[1]</p><p style="font-style:italic; font-family: Arial Narrow;"> Mental </p></div>

                    }
                }
            </div>

            <canvas style="display:none" id="Radar-1" width="340" height="224" data-placement="bottom"></canvas>



        </td>
        <td>
            <div id="popoverRadarData-2" class="btn" href="#" rel="popover" data-placement="bottom" data-trigger="click" style="margin-left:25px;">
                @{
                    if (ViewBag.avgProp[2] == 0)
                    {
                        <div class="numberCircle"> <p style="font-size:35px; font-family: Arial Narrow;">-</p><p style="font-style:italic; font-family: Arial Narrow;">Fysisk</p></div>
                    }
                    else
                    {
                        <div class="numberCircle"> <p style="font-size:22px;">@ViewBag.avgProp[2]</p><p style="font-style:italic; font-family: Arial Narrow;"> Fysisk </p></div>

                    }
                }
            </div>

            <canvas style="display:none" id="Radar-2" width="340" height="224" data-placement="bottom"></canvas>


        </td>
    </tr>

</table>



<div id="radarObject" data-attribute="@Json.Encode(@ViewBag.radarObject[0][ViewBag.radarObject[0].Length-1])"></div>
<div id="radarObjectTeknisk" data-attribute="@Json.Encode(@ViewBag.radarObject[0])"></div>
<div id="radarObjectMental" data-attribute="@Json.Encode(@ViewBag.radarObject[1])"></div>
<div id="radarObjectFysisk" data-attribute="@Json.Encode(@ViewBag.radarObject[2])"></div>

<div id="radarObjectAverageTeknisk" data-attribute="@Json.Encode(@ViewBag.OtherPlayerAverage[0])"></div>
<div id="radarObjectAverageMental" data-attribute="@Json.Encode(@ViewBag.OtherPlayerAverage[1])"></div>
<div id="radarObjectAverageFysisk" data-attribute="@Json.Encode(@ViewBag.OtherPlayerAverage[2])"></div>

<!-- RADAR CHART https://gist.github.com/nbremer/21746a9668ffdf6d8242#file-radarchart-js -->
<script src="~/Scripts/radarChart.js"></script>
<!-- It is the same as the other page. Just reuse -->
<script src="~/Scripts/Player/ShowPlayerByID.js"></script>
