﻿@model Scoutpocket.ViewModels.RatingViewModel
@using System.Linq;
@{

    Layout = null;

    var getPlayer = HttpContext.Current.Session["getProfileID"];

    var getPlayerPosition = HttpContext.Current.Session["getPlayerPositionID"];
   
    
    Scoutpocket.Models.Database.Player player = null;

    try
    {
        player = Model.profile.Where(p => p.player.PlayerID == Model.ProfileID).First().player;
    }
    catch (Exception ex) { }

    ViewBag.Player = player.PlayerID;

    ViewBag.Position = getPlayerPosition;
}


<link href="~/Content/PlayerView/GetRate.css" rel="stylesheet" />
<script src="~/Scripts/jquery.webui-popover.js"></script>
<script src="~/Scripts/Chart.js"></script>


<div class="continer">
    @foreach (var item in Model.properties)
    {
          var comments = Model.Comments.Where(c => c.PlayerID == ViewBag.Player).Where(c => c.PropertiesID == item.PropertiesID);
        if (comments.Any() && Model.isCurrentUser)
              {
        <div class="modal fade" id="@item.PropertiesName-commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog"style="overflow-y:initial !important" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">@item.PropertiesName</h4>
      </div>
      <div class="modal-body" style="height:400px; overflow-y:auto">
          @{ 
            
            
                <div class="list-group">
                    @foreach (var comment in comments)
                    {

                    <div class="list-group-item">
                        <div style="padding-bottom:15px;">
                        <p>@comment.Comment</p>
                        <p style="font-size:12px" class="pull-right">Skrevet: <b>@comment.Created</b></p>
                        <p style="font-size:12px"  class="pull-left">Skrevet af:  <b>@Html.Raw($"{comment.Scout.profile.FirstName} {comment.Scout.profile.LastName}")</b> </p>
                        </div>
                    </div>
                    }
                </div>
                 
              }
           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>    
      </div>
    </div>
  </div>
</div>
                  }
              }

    <table class="table">
        <thead>
            <tr>
                @foreach (var item in Model.properties)
                {
                    //The properties need to appear teknisk, mentalt and fysisk


                    <th>
                        
                        @if (Model.isCurrentUser)
                            //This can cause an error if the model does not exists. 
                        {
                <i data-toggle="modal" data-target="#@item.PropertiesName-commentModal" class="hoverOverPopOverData fa fa-file-text-o pull-left" style="padding-right:5px"  aria-hidden="true"></i>
                        }
                @item.PropertiesName
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model.properties)
       {

                    
                    <td>
                        <div  style="display:inline-block">
                       @foreach (var item2 in item.SubProperties.Where(x => x.PositionID == Convert.ToInt32(getPlayerPosition)))
                       {

                           int value0 = -1;
                           int value1 = -1;


                           var propertyOne = Model.rating.Where(x => x.SubPropertiesID == item2.SubPropertiesID && x.PlayerID == player.PlayerID).OrderByDescending(x => x.Date).Take(2).ToList();
                           var prop = Model.rating.Where(x => x.SubPropertiesID == item2.SubPropertiesID && x.PlayerID == player.PlayerID).OrderBy(x => x.Date).ToList();



                           var seriesId = player?.SeriesID;
                           var position = Convert.ToInt32(getPlayerPosition);
                           var peopleInSameSeriesPosition = Model.profile.Where(x => x.player.PositionID == position && x.player.SeriesID == seriesId).SelectMany(p => p.player.Ratings).ToList();
                           var ratingAverageForProp = peopleInSameSeriesPosition.Where(p => p.SubPropertiesID == item2.SubPropertiesID).Select(p =>
                           {
                               int value = 0;
                               int.TryParse(p.Value, out value);
                               return value;
                           });

                           double propAverage = 0.0;
                           if (ratingAverageForProp.Any())
                           {
                               propAverage = ratingAverageForProp.Average();
                               propAverage = Math.Round(propAverage, 1);
                           }
                           List<object[]> newProp = new List<object[]>();

                           //new way of making linechart (object x=all dates, object y=all values)
                           object[] xDates = new object[prop.Count];
                           object[] yValues = new object[prop.Count];
                           object[] yAverage = new object[prop.Count];
                           if (prop.Count > 0)
                           {

                               for (int i = 0; i < prop.Count; i++)
                               {
                                   //x = ToShortDateString(), y = value
                                   xDates[i] = prop[i].Date.Value.ToShortDateString();
                                   yValues[i] = prop[i].Value;
                                   yAverage[i] = propAverage;
                               }


                           }
                           var jsonXDates = Json.Encode(xDates);
                           var jsonYValues = Json.Encode(yValues);
                           var jsonAverage = Json.Encode(yAverage);


                           string divStringIDOfSubproperty = item2.SubPropertiesName.Remove(4, @item2.SubPropertiesName.Count() - 4);
                           /*This is a conversion between unicode æøå to ascii. This is used in the ID of div element (which can not be æøå)*/
                           divStringIDOfSubproperty = divStringIDOfSubproperty.Replace('æ', 'e').Replace('ø', 'o').Replace('å', 'a');



                           /*
                            * step1: Get all x y and average data for each rating
                            * step2: iterate over all of them
                            * step3: create a html element for each of them
                            *
                            */
                           if (!propertyOne.Any())
                           {


                                @*<p>
                                    <i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true"></i> @item2.SubPropertiesName  <i class="fa fa-minus" style="font-size:10pt; padding-left:5px;" aria-hidden="true"></i>


                                    </p>*@

                                <div style="padding-top:8px;">
                               

                                <p >
                                   
                                     <i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true" style="opacity:0.5; font-size:9pt;"></i>
                                     <span id="popoverData-@divStringIDOfSubproperty" class="hoverOverPopOverData"  href="#" data-content="" rel="popover" data-trigger="click">
                                    <span style="font-size:11pt; padding-right: 10px; padding-left:10px">@item2.SubPropertiesName  </span> <i class="fa fa-minus pull-right" aria-hidden="true"></i>
                                    </span>
                                        </p>
                                    </div>

                            }

                            else if (propertyOne.Count == 1)
                            {
                                value0 = Convert.ToInt32(propertyOne.OrderBy(x => x.Date).Last().Value);
                               <div style="padding-top:10px;">
                               


                                <p>
                                    
                                     <i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true" style="opacity:0.5; font-size:9pt;"></i>
                                     <span id="popoverData-@divStringIDOfSubproperty" class="hoverOverPopOverData"  href="#" data-content="" rel="popover" data-trigger="click">
                                    <span style="font-size:11pt; padding-right: 10px; padding-left:10px"> @item2.SubPropertiesName</span> <span class="pull-right" >  @value0</span>
                                         </span>
                                </p>
                                    </div>

                                @*<p><i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true"></i> @item2.SubPropertiesName  <i class="fa fa-minus" style="font-size:10pt;" aria-hidden="true"></i>@value0 </p>*@
                            }

                            else
                            {
                                for (int i = 0; i < propertyOne.Count(); i++)
                                {
                                    value0 = Convert.ToInt32(propertyOne.OrderBy(x => x.Date).Last().Value);
                                    value1 = Convert.ToInt32(propertyOne.OrderBy(x => x.Date).ToList()[propertyOne.Count() - 2].Value);
                                }

                                if (value0 > value1)
                                {

                                    <div style="padding-top:8px;">
                                    

                                    <p>
                                        <i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true" style="opacity:0.5; font-size:9pt;"></i>
                                         <span id="popoverData-@divStringIDOfSubproperty" class="hoverOverPopOverData"  href="#" data-content="" rel="popover" data-trigger="click">
                                        <span style="font-size:11pt; padding-right: 10px; padding-left:10px"> @item2.SubPropertiesName  </span> <span class="pull-right" >  @value0<i class="fa fa-arrow-up"  aria-hidden="true" style="color:#329141; padding-left:5px"></i></span>
                                        </span>
                                             </p>
                                        </div>
                                    @*<p><i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true"></i> @item2.SubPropertiesName <i class="fa fa-arrow-up" aria-hidden="true"></i>  @value0 </p>*@

                                }


                                else if (value0 < value1)
                                {
                                    <div style="padding-top:8px;">
                                   
                                    <p >
                                         <i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true" style="opacity:0.5; font-size:9pt;"></i>
                                         <span id="popoverData-@divStringIDOfSubproperty" class="hoverOverPopOverData"  href="#" data-content="" rel="popover" data-trigger="click">
                                       <span style="font-size:11pt; padding-right: 10px; padding-left:10px"> @item2.SubPropertiesName  </span> <span class="pull-right" >  @value0<i class="fa fa-arrow-down" aria-hidden="true" style="color:#a82b2b; padding-left:5px"></i></span>
                                    </span>
                                             </p>
                                    </div>


                                }



                                else if (value1 < value0)
                                {



                                    @*<p><i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true"></i> @item2.SubPropertiesName <i class="fa fa-arrow-down" aria-hidden="true"></i>  @value1 </p>*@
                                    <div style="padding-top:8px;">
                                  
                                    <p>
                                          <i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true" style="opacity:0.5; font-size:9pt;"></i>
                                         <span id="popoverData-@divStringIDOfSubproperty" class="hoverOverPopOverData"  href="#" data-content="" rel="popover" data-trigger="click">
                                       <span style="font-size:11pt; padding-right: 10px; padding-left:10px"> @item2.SubPropertiesName  </span> <span class="pull-right">  @value1<i class="fa fa-arrow-down" style="color:#a82b2b; padding-left:5px" aria-hidden="true"></i></span>
                                    </span>
                                             </p>
                                    </div>


                                }


                                else if (value0 == value1)
                                {
                                   <div style="padding-top:8px;">
                                    @*<p><i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true"></i> @item2.SubPropertiesName <i class="fa fa-minus" aria-hidden="true"></i>  @value1 </p>*@
                                  

                                    <p>
                                          <i class="fa fa-info-circle" title="@item2.SubPropertiesDescription" aria-hidden="true" style="opacity:0.5; font-size:9pt;"></i>
                                         <span id="popoverData-@divStringIDOfSubproperty" class="hoverOverPopOverData"  href="#" data-content="" rel="popover" data-trigger="click">
                                        <span style="font-size:11pt; padding-right: 10px; padding-left:10px"> @item2.SubPropertiesName  </span> <span class="pull-right">  @value1<i class="fa fa-minus" style="padding-left:5px" aria-hidden="true"></i></span>
                                    </span>
                                             </p>
                                        </div>

                                }
                            }
                            //if there are ratings then do execute the following below
                            //string jsonXDates = Model.LineChartData.First().First();
                            //string jsonYValues = Model.LineChartData[1][0];
                            //string jsonAverage = Model.LineChartData[2][0];

                            if (prop.Count > 1)
                            {

                                <canvas class="" id="@divStringIDOfSubproperty" width="325" height="200" data-placement="bottom"></canvas>

                                //new way of making linechart look here: http://www.chartjs.org/docs/#line-chart

                                <script>
                                    var pointBackgroundColors = [];
                                var pointBorderColors = [];
                                var rawJsonYValues = @Html.Raw(jsonYValues);
                                var rawAverage = @Html.Raw(@jsonAverage);
                                var rawJsonXDates = @Html.Raw(@jsonXDates);
                                    $('#popoverData-@divStringIDOfSubproperty').webuiPopover({ url: '#@divStringIDOfSubproperty', placement:'bottom', height:'220'});
                                        var ctx = document.getElementById("@divStringIDOfSubproperty");
                                Chart.defaults.global.defaultFontSize = 10;
                                        Chart.defaults.global.defaultFontColor = '#FFF';
                                        var myChart = new Chart(ctx, {
                                            type: 'line',
                                            data: {
                                                labels: rawJsonXDates,
                                                datasets: [{
                                                    fill: false,
                                                    label: 'Egen vurdering',
                                                    data: rawJsonYValues,
                                                    borderColor: 'rgba(174, 177, 54, 1)',
                                                    pointBorderColor: pointBorderColors,
                                                    backgroundColor: 'rgba(174, 177, 54, 1)',
                                                    pointBackgroundColor: pointBackgroundColors,
                                                    pointRadius: 3,
                                                    pointHitRadius: 3,
                                                    pointBorderWidth: 1,
                                                    pointHoverBorderWidth: 1,

                                                }, {
                                                    fill: false,
                                                    label: 'Gennemsnit',
                                                    data: rawAverage,
                                                    borderColor: 'rgba(53, 127, 177, 1)',
                                                    pointBorderColor: 'rgba(53, 127, 177, 1)',
                                                    backgroundColor: 'rgba(53, 127, 177, 1)',
                                                    pointBackgroundColor: 'rgba(53, 127, 177, 1)',
                                                    pointRadius: 3,
                                                    pointHitRadius: 3,
                                                    pointBorderWidth: 1,
                                                    pointHoverBorderWidth: 1,
                                                                                                        }
                                                ]
                                            },
                                            options: {
                                                 tooltips: {
                                                    mode: 'index'
                                                },
                                                responsive: false,
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: true,
                                                            max: 20,
                                                            stepSize: 5
                                                        }
                                                    }],
                                                    xAxes: [{
                                                        ticks: {
                                                            beginAtZero: true,

                                                        }
                                                    }]
                                             },
                                                legend: {
                                                    display: true,
                                                    labels: {
                                                        fontColor: 'rgba(255, 255, 255,1)',
                                                        fontSize: 8,
                                                        boxWidth: 1,

                                                    },
                                                    position: 'right',
                                                   

                                                }
                                            }
                                        });


                                    //http://stackoverflow.com/questions/28159595/chartjs-different-color-per-data-point
                                    for (i = 0; i < myChart.data.datasets[0].data.length; i++) {
                                        if (myChart.data.datasets[0].data[i] > 100) {
                                            pointBackgroundColors.push("#AEB100");
                                            pointBorderColors.push("#AEB136");
                                        } else {
                                            pointBackgroundColors.push("#AEB100");
                                            pointBorderColors.push("#AEB136");
                                        }
                                    }
                                    //change the point radius for the first one


                                    myChart.update();
                                    jQuery("#@divStringIDOfSubproperty").hide();
                                    $('#popoverData-@divStringIDOfSubproperty').click(function () {
                            jQuery("#@divStringIDOfSubproperty").show();


                        });

                                </script>
                            }


                        }
</div>
                    </td>
                        
                }
            </tr>

        </tbody>
    </table>


</div>
