﻿@model System.Collections.Generic.IEnumerable<Scoutpocket.ViewModels.ViewModel>


@{
    ViewBag.Title = "GetView";
    Layout = null;
}

<div class="row">

    @foreach (var item in Model.OrderByDescending(m => m.Time))
    {   
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="../ClubsImage/@Html.DisplayFor(model => item.ClubImage)"  height="70" style="margin-left:5px;" /> <span style="font-size:11pt;">@item.ClubName</span>
        </div>
    }
</div>
