﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubscriptionChoosen</title>
</head>
<body>
    <p>Issue encountered. Return to <a href="/">Frontpage</a></p>
</body>
</html>
