﻿@model  Scoutpocket.Models.Database.Profile
@{
    ViewBag.Title = "Spiller profil";
    Layout = "~/Views/Shared/_Profiles.cshtml";

    HttpContext.Current.Session["ProfileID"] = Model.ProfileID;

    HttpContext.Current.Session["getPlayerPositionID"] = Model.player.PositionID;
    ViewBag.GetPOS = Model.player.PositionID;
    ViewBag.GetID = Model.ProfileID;


}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<title>@ViewBag.Title - Scoutpocket.dk</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Scripts/Jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" />
<link href="~/Scripts/Jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" />


<script src="~/Scripts/jquery-3.2.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<!--JCrop-->
<script src="~/Scripts/Jcrop/js/jquery.Jcrop.min.js"></script>
<!--File upload-->
<script src="~/Scripts/Jcrop/file-upload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/Jcrop/file-upload/jquery.fileupload.js"></script>
<script src="~/Scripts/Jcrop/file-upload/jquery.fileupload-ui.js"></script>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>





<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/PlayerView/PlayerProfile.css" rel="stylesheet" />
<script src="~/Scripts/Player/PlayerProfile.js"></script>

<div class="container" style="margin-top:50px;">


    <div class="col-lg-12 centered-text" style="margin-bottom:75px; border-bottom:solid; border-color:white; padding-bottom:10px; border-width:3px; color:white;">
        @Html.Partial("~/Views/Player/_NameAndClub.cshtml")


    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="row" style="margin-top:-15px;">
            <img src="Uploads/@Html.DisplayFor(model => model.Image)" class="img-responsive img-circle  center-block" style="height:230px;width:230px;" />

        </div>
        <div class="row" style="padding-top:15px; text-align:center; font-size:13pt; font-family: Arial Narrow;">
            <p>
                <b>
                    @{
                        var birthdate = Model.user.profile.player.BirthDate;

                        var dayandbirth = Model.user.profile.player.BirthDate.ToString().Substring(0, 10);


                        // Save today's date.
                        var today = DateTime.Today;
                        // Calculate the age.
                        var age = today.Year - birthdate.Year;


                        ViewBag.GetAge = age;

                        ViewBag.GetDayAndMonth = dayandbirth;
                    }
                    Alder: @ViewBag.GetAge år (@ViewBag.GetDayAndMonth)
                </b>
            </p>

        </div>
        <div class="button-place">
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success form-control" style="background:#f9c63b; border: none; font-size: 11pt; width:200px; font-family: Arial Narrow;">Upload profilbillede</button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="color:black;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Upload profilbillede</h4>
                        </div>
                        <div class="modal-body">
                            <p>1. Tryk på 'Upload billede'</p>
                            <p>2. Tryk på 'Vis billede'</p>
                            <p>3. Tryk på 'Gem billede'</p>
                        </div>
                        <div class="modal-footer">


                            <div id="crop-image-area" style="display:none;">
                                @*<a href="#" id="hl-crop-image">Crop Image</a>*@
                                <img id="uploaded-image" class="img-responsive" src="#" />
                                @*<img id="my-cropped-image" src="#" style="display:none;" />*@
                            </div>



                            @using (Html.BeginForm("SaveImage", "Player"))
                            {
                                <div style="margin-top:20px; margin-left:100px;">

                                    <div class="btn btn-success btn-file col-md-3">

                                        <a href="#" style="color:white;" onclick="$(this).closest('form').submit()">Gem billede</a>
                                    </div>

                                    <div class="btn btn-success btn-file col-md-3">
                                        <a href="#" id="hl-start-upload" style="color:white;">Vis billede </a>
                                    </div>
                                    <div class="btn btn-success btn-file col-md-3">
                                        Upload billede <input type="file" placeholder="Upload billede">
                                        @Html.TextBoxFor(m => m.MyFile, new { id = "fu-my-simple-upload", type = "file" })
                                    </div>

                                    @Html.Hidden("UploadedImagePath", string.Empty, new { id = "hf-uploaded-image-path" })
                                    @Html.HiddenFor(m => m.CroppedImagePath, new { id = "hf-cropped-image-path" })

                                </div>




                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top:25px;">
            <h3 style="font-size:16pt; text-decoration:underline; font-family: Arial Narrow;">
                <b>
                    Position
                </b>
            </h3>
        </div>
        <div class="row" style="margin-top:25px; font-family: Arial Narrow;">
            @Html.Partial("~/Views/Player/_GetPosition.cshtml")
        </div>

    </div>
    <div class="col-lg-1 visible-lg" style="border-left-style:solid; border-width:2px; height:650px; margin-left:60px;">
    </div>

    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-right" style="margin-top:-20px">
        <div class="row" style="margin-top:5px; font-family: Arial Narrow; font-size:11pt;">
            <h3 style="font-size:16pt; font-family: Arial Narrow; text-decoration:underline; margin-left:0px;">
                <b>
                    Egenskaber
                </b>
            </h3>
        </div>
        <div class="row" style="margin-top:0px;">
            <div class="radarChart"></div>

            @Html.Action("getRate", Model)

        </div>
        <div class="row" style="margin-top:7px;">
            <h3 style="font-size:16pt; font-family: Arial Narrow; text-decoration:underline; margin-left:0px; margin-bottom:25px; margin-top:25px;">
                <b>
                    Gennemsnitlig vurdering
                </b>
            </h3>
            @Html.Action("GetPropertiesAVG", Model)

        </div>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="row ClubVisited">
            <h3 style="font-size:16pt; font-family: Arial Narrow; text-decoration:underline">
                <b>
                    De har set min profil
                </b>
            </h3>
        </div>
        <div class="row" style="margin-top:1vw;">
            <!--Klubber som har besøgt profilen skal vises her-->
            @Html.Action("GetViewGroupBy", Model)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height:175px;">
    </div>
        </div>

</div>
<script src="~/Scripts/Player/FileUpload.js"></script>
<script src="~/Scripts/Player/CropImage.js"></script>
