﻿@model Scoutpocket.Models.Database.Profile

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
   
  <div>
     @ViewBag.GetImage
    </div>
</body>
</html>
