﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestingFunction</title>
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1>@ViewBag.Msg</h1>
    </div>

    <div id="testMsgBox">
        <button type="button" data-toggle="modal" data-target="#deleteAlert">Open Sesame</button>

        <!-- Alertbox -->
        <div class="modal fade" id="deleteAlert" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Afmeld Abonnement</h4>
                    </div>
                    <div class="modal-body">
                        <p>Vil du virkelig slette dit abonnement?</p>
                        <p>Dette vil først træde i kræft ved sæsonskift.</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href="~/playersubscriptionchoice/1">Afmeld</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fortryd</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    






    
</body>
</html>
