﻿


@model Scoutpocket.Models.Database.ClubList
@{
    ViewBag.Title = "Opret klub liste";
    Layout = "~/Views/Shared/_Administration.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<link href="~/Content/Club/AddClubList.css" rel="stylesheet" />
<div id="exTab1">
    <ul class="nav nav-pills">
        <li class="active mainclass">
            <a href="#1a" data-toggle="tab">Opret egenskab</a>
        </li>
        @*<li class="mainclass class2">
                <a href="#2a" data-toggle="tab">Produktgalleri</a>
            </li>*@

    </ul>
    <div class="row">
        <div class="tab-content clearfix col-lg-4">


            <div class="tab-pane  active " id="1a">


                <form action="~/Club/AddClubList" method="post" enctype="multipart/form-data" id="myform">
                    @Html.AntiForgeryToken()

                    <div class="col-md-8">

                        <br>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            @Html.EditorFor(model => model.ClubName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Egenskab" } })
                            @Html.ValidationMessageFor(model => model.ClubName, "", new { @class = "text-danger" })
                        </div>




                    </div>

                    <!-- <div class="col-md-8">

                        <div class="form-group">
                            <br />

                            <div id="summernote">
                                @*@Html.TextAreaFor(model => model.productDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Produktbeskrivelse" } })
                                @Html.ValidationMessageFor(model => model.productDescription, "", new { @class = "text-danger" })*@

                            </div>



                        </div>

                    </div> -->

                </form>

            </div>

        </div>





    </div>
    <br />

    <div class="row">

        <button form="myform" class="btn btn-default " type="submit">Opret klub</button>
    </div>

    @ViewBag.Succes

    <br />



</div> <!--tab slutter her-->
