﻿@model Scoutpocket.ViewModels.ClubProfileViewModel

@{
    ViewBag.Title = "Abonnement Klub";
}



<link href="~/Content/Club/ChooseClubAbonnement.css" rel="stylesheet" />

<div class="jumbotron football-trainer">
    <div class="container" style="min-height:100vh;">
        <div class="row">
            <h1 style="color:white; text-align:center; font-family: Arial Narrow; font-size: 32pt; margin-top: 45px">VÆLG ABONNEMENT</h1>

            @ViewBag.viewModel
        </div>

        <div class="row">
            <div class='pricing-table'>
                <div class='col-sm-4 col-sm-6'>
                    <div class='table-column' style="min-height:500px;">
                        <div class='header'>
                            <h3>BASIS</h3>
                            <h6><span class='price'>Gratis</span> </h6>

                            <p class='small' style='visibility:hidden'>(When paid annually)</p>
                        </div>
                        <div class='table-body'>
                            <p class='description'>Klubprofil</p>
                            <p class='description'>Målrettet spillersøgning</p>
                            <p class='description'>Indblik i egne spilleres udvikling</p>


                        </div>
                        <div class='sign-up-button'>
                            <input id="@ViewBag.Basic" onclick="location.href = '/clubsubscriptionchoice/5';" type="button" class="btn btn-warning btn-lg btn-block" name="Basis" value="Vælg">
                        </div>
                    </div>
                </div>

                <div class='col-sm-4 col-sm-6'>
                    <div class='table-column' style="min-height:500px;">
                        <div class='header'>
                            <div class="ribbon">
                                <div class="ribbon-højre">GRATIS</div>
                            </div>
                            <h3>LevelUP</h3>
                            <h6 style="text-decoration: line-through;"><span class='price'>5000 kr.</span></h6>
                            <p class='small' style='visibility:hidden'>(When paid annually)</p>
                        </div>
                        <div class='table-body'>

                            <!--Dropdown start-->

                            <p class='description'><a href="#" style="color:white; text-decoration:none;" onclick="dropdownDiv('item')">Basis</a><i class="fa fa-caret-down" style="padding-left: 3px" aria-hidden="true"></i></p>
                            <div id="item" style="display:none;">

                                <!--Dropdown link-->

                                <p class='description'>Klubprofil</p>
                                <p class='description'>Målrettet spillersøgning</p>
                                <p class='description'>Indblik i egne spilleres udvikling</p>

                            </div>


                            <script>
                                function dropdownDiv(id) {
                                    var div = document.getElementById(id);
                                    div.style.display = div.style.display == "block" ? "none" : "block";
                                }
                            </script>

                            <!--Dropdown slut-->

                            <p class='description'>Licens til LevelUP (inkl. tablet og flic)</p>
                            <p class='description'>Videoanalyse og statistik af kampe</p>

                        </div>
                        <div class='sign-up-button'>
                            <input id="@ViewBag.LevelUP" onclick="location.href = '/clubsubscriptionchoice/6';" type="button" class="btn btn-warning btn-lg btn-block" name="LevelUP" value="Vælg">
                        </div>
                    </div>
                </div>

                <div class='col-sm-4 col-sm-6'>
                    <div class='table-column' style="min-height:500px;">
                        <div class='header'>
                            <div class="ribbon">
                                <div class="ribbon-højre">GRATIS</div>
                            </div>
                            <h3>LevelUP EKSKLUSIV</h3>
                            <h6 style="text-decoration: line-through;"><span class='price'>7500 kr.</span></h6>
                            <p class='small' style='visibility:hidden'>(When paid annually)</p>
                        </div>
                        <div class='table-body'>
                            <!--Dropdown start-->

                            <p class='description'><a href="#" style="color:white; text-decoration:none;" onclick="dropdownDivThird('item3')">Basis</a><i class="fa fa-caret-down" style="padding-left: 3px" aria-hidden="true"></i></p>
                            <div id="item3" style="display:none;">

                                <!--Dropdown link-->

                                <p class='description'>Klubprofil</p>
                                <p class='description'>Målrettet spillersøgning</p>
                                <p class='description'>Indblik i egne spilleres udvikling</p>

                            </div>

                            <script>
                                function dropdownDivThird(id) {
                                    var div = document.getElementById(id);
                                    div.style.display = div.style.display == "block" ? "none" : "block";
                                }
                            </script>

                            <!--Dropdown slut-->
                            <!--Dropdown start-->

                            <p class='description'><a href="#" style="color:white; text-decoration:none;" onclick="dropdownDivFourth('item4')">LevelUP</a><i class="fa fa-caret-down" style="padding-left: 3px" aria-hidden="true"></i></p>
                            <div id="item4" style="display:none;">

                                <!--Dropdown link-->

                                <p class='description'>Licens til LevelUP (inkl. tablet og flic)</p>
                                <p class='description'>Videoanalyse og statistik af kampe</p>

                            </div>


                            <script>
                                function dropdownDivFourth(id) {
                                    var div = document.getElementById(id);
                                    div.style.display = div.style.display == "block" ? "none" : "block";
                                }
                            </script>

                            <!--Dropdown slut-->

                            <p class='description'>Kamera, stativ og Google Chromecast </p>

                        </div>

                        <div class='sign-up-button'>
                            <input id="@ViewBag.LevelUPExclusive" onclick="location.href = '/clubsubscriptionchoice/7';" type="button" class="btn btn-warning btn-lg btn-block" name="LevelUPExclusive" value="Vælg">
                        </div>
                    </div>
                </div>
                <div class='table-body'>
                    <p class='description' style="margin-bottom:-20px">NB:</p>
                    <p><li style="font-family: Arial Narrow; font-size: 10.5pt; color: #fff; margin-bottom: -5px; padding-left:8px;">Ved valg af abonnement med LevelUP er abonnementet gældende fra d. 1/1 2018 til og med d. 31/6 2018</li></p>
                    <p><li style="font-family: Arial Narrow; font-size: 10.5pt; color: #fff; margin-bottom: -5px; padding-left:8px;">Hvis I vælger et abonnement med LevelUP vil licensen blive tilsendt elektronisk til jeres angivne mail. Uanset hvilken pakkeløsning I vælger med LevelUP, vil vi arrangere et klubbesøg med jer, og vejlede jer i anvendelsen af LevelUP. Hvis I har valgt LevelUP eksklusiv, vil udstyret blive medbragt til det kommende klubbesøg</li></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.md5.js"></script>
<script charset="UTF-8" src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js" type="text/javascript"></script>
<!-- The same as changeclubsciption.js-->
<script src="~/Scripts/Club/ChangeClubSubscription.js"></script>