﻿@model  Scoutpocket.Models.Database.Profile
@{
    ViewBag.Title = "Klub profil";
    Layout = "~/Views/Shared/_Profiles.cshtml";

    Session["ProfileID"] = Model.ProfileID;
    
    var getProfileID = Session["ProfileID"];

 




}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.1.1.js"></script>
<style>
    td > a  {
        color:white !important;
    }
</style>

<link href="~/Content/Club/ClubProfile.css" rel="stylesheet" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Scoutpocket.dk</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<link href="~/Content/login-dp.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>

<div class="container">
 

    <div class="col-lg-12 text-center" style="border-bottom-style:solid; padding-top:25px; border-color:white; background-color:#202831; margin-bottom:25px">
        <h1 style="margin-bottom:25px;">
            <b>
                @Html.Partial("~/Views/Club/_GetClubName.cshtml")
            </b>
        </h1>
    </div>
    <div class="col-lg-6" style="margin-top:50px;">

        <div class="form-group">
      

            @{
                if (Model.club.clubList.ClubImage == "" || Model.club.clubList.ClubImage == null)
                {
                    <img src="~/Img/Clubs/sc-logo.png"  width="250"  class="img-responsive center-block"  />
     
                }
                else
                {
                    <img src="ClubsImage/@Html.DisplayFor(model => model.club.clubList.ClubImage)"  width="250"  class="img-responsive center-block"  />
                }
            }
        </div>


    </div>
    <div class="col-lg-6" style="margin-top:20px;">
        <div style="margin-left: 45px">
        <div class="form-group">
            <h3 style="color:white; font-family: Arial Narrow">
                <b>
                    Søg spiller
                </b>

            </h3>
        </div>

        @using (Html.BeginForm())
            {
            <div class="form-group row">
                <div class="col-md-7">
                @Html.TextBox("searchtext", null, new { @class = "form-control", placeholder = "Navn" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                @Html.DropDownList("PositionID", (IEnumerable<SelectListItem>)ViewBag.CountryName, "Vælg position", new { @class = "form-control", @id = "ddlPosition", onchange = "CallChangefunc()" })
                </div>
            </div>
                <div class="form-group row" id="ddlContainerShow" style="display:none;">
                    <div class="col-md-11">
                   <a href="#" style="display:none" id="closeddlButton"><span class='fa fa-times' id="closeddl" style='color:white; position:absolute; right:20px'></span></a>
                    <div class="well" id="ddlShow" style="font-family: Arial Narrow; font-size:11pt;  display:none;  background: rgba(32,40,49,0.6)">
                        
                    </div>
                    <div id="subProperties" class="well" style="display:none; margin-top:5px; background: rgba(32,40,49,0.6); color: white">

                        <table class="table">
                            <tr>
                                <td style="font-size:11pt; font-family: Arial Narrow; padding-top:15px;">
                                    <label style="display:none;" id="subpropertiesID"></label>
                                    <label id="subpropertiesName"></label>
                                </td>
                                <td>
                                    <select id="LH" class="form-control">
                                        <option value="1">Mindst</option>
                                        <option value="2">Højst</option>
                                    </select>

                                </td>

                                <td>
                                    <select id="LHValue" class="form-control">
                                        <option value="1">5</option>
                                        <option value="2">10</option>
                                        <option value="3">15</option>
                                        <option value="4">20</option>
                                    </select>

                                </td>
                                <td>
                                    <i id="cancelicon" onclick="HideSubropertyDIv()" class="fa fa-times" style="margin-top:8px;" aria-hidden="true"></i>
                                </td>

                            </tr>

                        </table>
                        </div>
                </div>
                    </div>
                <div class="form-group row">
                    <div class="col-md-3">
                    <button class="btn btn-default form-control" onclick="return showAge();">Tilføj alder</button>
                        </div>
                </div>

                <div class="form-group row" style="margin-right:0px;">
                    <div class="col-md-11">
                    <div id="age" class="well" style=" margin-right:-15px; padding-bottom:0px;  display:none;  background: rgba(32,40,49,0.6); color: white">

                        <table class="table" style="color:white;">
                            <tr>
                                <td style="font-family: Arial Narrow; font-size:12pt; padding-top:15px; ">
                                    Alder
                                </td>
                                <td>
                                    <select class="form-control" id="ageSpec">
                                        <option value="1">Mindst</option>
                                        <option value="2">Højst</option>
                                    </select>

                                </td>

                                <td>
                                    <div class="input-group">
                                        <select class="form-control" id="ageSelect">
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" id="ageHideButton"><i class="fa fa-times" style="margin-top:10px; color:white;" aria-hidden="true"></i></a>
                                </td>

                            </tr>

                        </table>
                    </div>
                        </div>


                </div>

                <div class="form-group row" style="margin-top:-15px;">
                    <div class="col-md-7">
                        <input type="button" onclick="runSearch();" class="btn btn-success form-control" value="Søg" style="background: #f9c63b" />
                    </div>
                </div>


        }
        </div>
    </div>


    <div class="container">
        <div class="form-group" style="">

            <style>
                .table th, .table td {
                    border-top: none !important;
                    table-layout: fixed;
                    word-wrap: break-word;
                }
            </style>

            <div class="col-lg-12" id="showSearchWell" style="display:none;margin-bottom:-60px; margin-top:70px;">
                <a href="#" id="resetSearchResult" style="display:block"><span class='fa fa-times' style='color:white; position:absolute; right:20px'></span></a>
                <div id="divResult" class="well" style="border-style:solid; color:white; padding-left:50px; border-color:white; border-width:1px;  background: rgba(32,40,49,0.6)">

                </div>
                <br />


            </div>
        </div>



    </div>

    <div class="container" style="margin-top:60px">
        <h4 style="color:white; font-family: Arial Narrow; margin-left: 15px;">
          <b>Klubbens spillere</b>
		</h4>
        <div id="divResult" class="well" style="border-style:solid; margin-bottom:-60px; margin-top:50px; margin: 15px; border-color:white; border-width:1px;  background: rgba(32,40,49,0.6);">
            @Html.Action("GroupByPlayers")
        </div>
    </div>

</div>
<script src="~/Scripts/Club/ClubProfile.js"></script>
<script>
        function hideAge() {
        $('#age').hide();
        $("#ageSpec").val($("#ageSpec option:first").val());
        $("#ageSelect").val($("#ageSelect option:first").val());
    }
    function hidePosition() {
         $('#ddlShow').hide();
        $('#ddlContainerShow').hide();
        $('#closeddlButton').hide();
        HideSubropertyDIv();
        $("#ddlPosition").val($("#ddlPosition option:first").val());
    }
    $('#resetSearchResult').on('click', function (e) {
        e.preventDefault;
        $('#searchtext').val('');
        hideAge();
        hidePosition();
        document.getElementById("showSearchWell").style.display = "none";
    });

    $('#ageHideButton').on('click', function (e) {
        e.preventDefault;
        hideAge();
    });

    $('#closeddlButton').on('click', function (e) {
        e.preventDefault;
        hidePosition();
    });
</script>



