﻿@model Scoutpocket.ViewModels.ClubProfileViewModel

@{
    ViewBag.Title = "Opret klub";
}

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link href="~/Content/Club/CreateClub.css" rel="stylesheet" />

<div class="jumbotron football-trainer">

    <div class="container" style="min-height:92vh">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 style="color:white; margin-top:60px; margin-bottom:30px; text-align:center; font-family: Arial Narrow; font-size:30pt">OPRET KLUB</h2>




            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formID" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.DropDownList("ClubListID", null, "Vælg en klub", new { @class = "form-control", @style = "width:330px;" })
                    @*@Html.ValidationMessageFor(model => model.ClubListID, "", new { @class = "text-danger" })*@
                </div>
                <div id="errorClub" class="errorMessage">Du skal vælge en klub</div>

                    <div class="form-group">



                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Navn på kontaktperson"} })
                        @*@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })*@
                        <div id="errorName" class="errorMessage">Du skal udfylde navn på kontaktperson</div>

                    </div>


                    <div class="form-group">


                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tlf. nr. på kontaktperson", @style = "width:210px;"} })
                        @*@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })*@
                        <div id="errorPhone" class="errorMessage">Du skal angive tlf. nr.</div>

                    </div>

                    <div class="form-group">


                        @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail adresse på kontaktperson"} })
                        @*@Html.ValidationMessageFor(model => model.UserMail, "", new { @class = "text-danger" })*@
                        <div id="errorMail" class="errorMessage">Du skal angive en e-mail.</div>



                    </div>

                        <div class="form-group">


                            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adgangskode", required = "required" } })
                            @*@Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })*@
                            <div id="errorPass" class="errorMessage">Du skal angive en adgangskode</div>

                        </div>

                        <div class="form-group">


                            @Html.EditorFor(model => model.UserPasswordRepeat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gentag adgangskode", required = "required" } })
                            @*@Html.ValidationMessageFor(model => model.UserPasswordRepeat, "", new { @class = "text-danger" })*@
                            <div id="errorPassRepeat" class="errorMessage">Du skal gentage adgangskoden</div>


                            <div class="checkbox" style="margin-left:20px;">
                                <label style="color:white;"><input type="checkbox" id="remember" required="required" value="">Jeg accepterer <span id="chb" style="color:#6198ef;">handelsbetingelser</span></label>

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#chb').click(function () {
                                            window.location = '/handelsbetingelser'; // link of your desired page.
                                        });
                                    });
                                </script>

                                <div id="errorMessageCH" class="errorMessage">Du skal  accepterer vores handelsbetingelser</div>
                            </div>

                        </div>



                        <div class="form-group">
                            <div class="col-md-10">


                                @Html.TextBoxFor(model => model.RoleID, new { @class = "form-control", @Value = 2, @type = "hidden" })
                                <div id="errorMessageDiv" class="errorMessage">Vær venlig at udfylde felterne.</div>

                            </div>
                        </div>

                        <div class="form-group">

                            <input type="submit" value="Opret klub" class="btn btn-info btn-block" />

                        </div>








            }


        </div>
        <div class="col-md-4"></div>
    </div>





<div id="CreateClubURL" data-attribute="@Url.Action("CreateClub", "Club")"></div>


</div>
<script src="~/Scripts/Club/CreateClub.js"></script>
