﻿@model dynamic

<div class="container">

    <h2>DoDynamic</h2>

    @*<p>View Bag: </p>
    <ul>
        <li>@ViewBag.SomeObject.bar</li>
        <li>@Html.Raw(ViewBag.SomeObject.dyn)</li>
    </ul>*@

    <p>From dynamic model: </p>
    <ul>
        @*<li>@Model.bar</li>*@
        <li>@Html.Raw(Model.dyn)</li>
    </ul>
</div>

