﻿@model IEnumerable<Scoutpocket.Models.Database.Club>

@{
    ViewBag.Title = "GetListOfClubs";
}

<h2>GetListOfClubs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clubList.ClubName)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clubList.ClubName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClubID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClubID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClubID })
        </td>
    </tr>
}

</table>
