﻿﻿@using Scoutpocket.Models.Database
@model List<Group<string, User>>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
@{
    ViewBag.Title = "GroupByPlayers";
    Layout = null;

}

<link href="~/Content/Club/GroupByPlayers.css" rel="stylesheet" />

<div class="row" style="color:white; padding-left:40px">

        @foreach (var group in Model)
            {
            <div class="col-md-2" style="padding-bottom:10px;">
                <div style="padding-bottom:15px">
                <b>
                    @group.Key
                </b>
                    </div>
                @foreach (var profile in group.Values)
                {
                    //http://beta.scoutpocket.dk/
                    <div style="padding-bottom:15px;  word-wrap: break-word;">
                        <a href="spiller-profil/@profile.profile.ProfileID"  class="GroupByPlayers">@profile.profile.FirstName @profile.profile.LastName</a>
                        </div>
                }

            </div>
        }


</div>

