﻿
.football-trainer {
    background-image: url(../../Content/Img/2050x925/Add-club.png);
    background-size: cover;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}


.pricing-table {
    background: transparent;
    padding: 15px;
}
  .ribbon {
   position: absolute;
   right: -5px; top: -5px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}
.ribbon span {
   font-size: 10px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
}
.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}

@@media only screen and (max-width: 320px) {
    .ribbon {
        right: 4vw;
    }
}

.table-column {
    border: 1px solid rgba(250,250,250,.5);
    text-align: center;
    padding: 0 30px;
    max-width: 320px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    background: #202831;
    position:relative;
}

    .table-column .header {
        border-bottom: 1px solid #556572;
        background: rgba(250,250,250,1);
        margin: 0 -30px;
        color: #000;
        margin-bottom: 10px;
        padding-top: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

        .table-column .header h3 {
            margin: 0 auto;
            border-bottom: 1px solid #556572;
            width: 80%;
            padding: 10px 0;
            font-family: Arial Narrow;
            font-weight: bold;
            font-size: 18pt;
        }

        .table-column .header span.price {
            font-size: 35px;
            font-weight: 400;
            font-family: Arial Narrow;
        }

.table-body p.description {
    color: #fff;
    border-bottom: 0px solid rgb(120,120,120);
    padding-bottom: 10px;
    font-size: 11pt;
    font-family: Arial Narrow;
}

    .table-body p.description:last-child {
        border-bottom: 0px;
    }

.table-column .sign-up-button {
    margin: 80px 0px 0px;
}

.table-column .btn {
    width: 50%;
    background: #f9c63b;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}

.table-body {
    margin-top: 40px;
}

.disable-selection {
    display: none !important;
}
