﻿
body {
    background: url(../../Content/Img/2050x925/Add-club.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
