﻿
<ul> @{
    foreach(bool success in ViewBag.success)
    {
        <li>@success</li>
    };
  
    }
    </ul>
<ul> 
    @{
        foreach (int epayresponse in ViewBag.epayresponse)
        {
            <li>@epayresponse</li>
        };

    }
    </ul>

<ul> 
    @{
        foreach (int pbsresponse in ViewBag.pbsresponse)
        {
            <li>@pbsresponse</li>
        };

    } 
</ul>