﻿
.jumbotron {
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

.club {
    background-image: url(../../Content/Img/Klubside.png);
    background-size: cover;
    position: relative;
    height: 600px;
    padding: 0;
    margin: 0;
}

.btn.btn-warning {
    background-color: #f9c63b;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

    .btn.btn-warning:hover,
    .btn.btn-warning:active,
    .btn.btn-warning:focus {
        background-color: rgb(236,175,9);
    }

@@media screen and (min-width: 608px) {
    .rwd-break {
        display: none;
    }
}


.image {
    position: relative;
    height: 300px;
}

.image2 {
    position: relative;
    height: 300px;
}

.image img {
    position: absolute;
    width: 305px;
    height: 325px;
    -webkit-animation-name: fade -webkit-animation: 8s infinite;
    animation-name: fade;
    animation: 8s infinite;
}


@@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@@keyframes fade {
    0% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


#f1 {
    animation-delay: 4s;
}

#f2 {
    animation-delay: 0s;
}
