﻿
html {
    font-family: "Arial Narrow", Arial, sans-serif;
}


.container {
    position: relative;
    z-index: 2;
}



.player {
    background-image: url(../../Content/Img/2050x925/Forside-spiller.png);
    background-size: cover;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.trainer {
    background-image: url(../../Content/Img/2050x925/Forside-klub.png);
    background-size: cover;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

@@media (max-width: 995px) {
    .trainer {
        background-image: url(../../Content/Img/Klubside.png);
        color: white;
    }
}

@@media (max-width: 995px) and (-webkit-min-device-pixel-ratio: 2), @@media (max-width: 995px) and (min-resolution: 192dpi) {
    .trainer {
        background-image: url(../../Content/Img/Klubside.png);
        color: white;
    }
}

@@media (max-width: 400px) {
    .trainer {
        background-image: url(../../Content/Img/Klubside.png);
        color: white;
    }
}

@@media (max-width: 400px) and (-webkit-min-device-pixel-ratio: 2), @@media (max-width: 400px) and (min-resolution: 192dpi) {
    .trainer {
        background-image: url(../../Content/Img/Klubside.png);
        color: white;
    }
}

.scout-pocket {
    background-image: url(../../Content/Img/2050x925/Forside-bold.png);
    background-size: cover;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.btn.btn-warning {
    background-color: #f9c63b;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

    .btn.btn-warning:hover,
    .btn.btn-warning:active,
    .btn.btn-warning:focus {
        background-color: rgb(236,175,9);
    }
