﻿
.container-video {
    position: relative;
    color: #ffffff;
    z-index: 2;
}

.btn.btn-warning {
    background-color: #f9c63b;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

    .btn.btn-warning:hover,
    .btn.btn-warning:active,
    .btn.btn-warning:focus {
        background-color: rgb(236,175,9);
    }

@@media screen and (min-width: 608px) {
    .rwd-break {
        display: none;
    }
}

.image {
    position: relative;
    height: 300px;
}

.image2 {
    position: relative;
    height: 300px;
}

.image img {
    position: absolute;
    width: 305px;
    height: 325px;
    -webkit-animation-name: fade -webkit-animation: 16s infinite;
    animation-name: fade;
    animation: 16s infinite;
}

.image2 img {
    position: absolute;
    width: 305px;
    height: 315px;
    -webkit-animation-name: fade -webkit-animation: 16s infinite;
    animation-name: fade;
    animation: 16s infinite;
}

@@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@@keyframes fade {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#f1 {
    animation-delay: 12s;
}

#f2 {
    animation-delay: 8s;
}

#f3 {
    animation-delay: 4s;
}

#f4 {
    animation-delay: 0s;
}
