﻿<link href="~/Content/Home/Club.css" rel="stylesheet" />


<div class="jumbotron club">
    <div class="container">
        <h1 style="text-align: center; color: white; font-size: 40pt; font-family: Arial Narrow; margin-top: 200px">Skab bedre forudsætninger for træneren</h1>
        <h2 style="text-align: center; color: white; font-size: 32pt; font-family: Arial Narrow;"><i>Støt den enkelte spillers udvikling</i></h2>
    </div>
</div>



<div class="jumbotron" style="background-color:#202831; color:white;">
    <div class="container">
        <div>


            <div class="row" style="margin-top:25px;">
                <div class="col-md-8">
                    <h1 style="font-family: Arial Narrow; font-size: 32pt;">
                        <span>FACILITÉR DEN ENKELTE SPILLERS UDVIKLINGS<br class="rwd-break">POTENTIALE</span>
                    </h1>

                    <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                        Lad træneren få indsigt i sine spilleres profiler. Scout Pocket giver træneren bedre muligheder for at støtte og fremme den enkelte spillers udvikling. De specifikke vurderinger af den enkelte spillers tekniske, mentale og fysiske egenskaber giver træneren et nuanceret indblik i specifikke udviklingsområder.
                    </p>


                </div>
                <div class="col-md-4">
                    <img src="~/Content/Img/Profil.png" class="img-responsive img-circle" alt="Profil" style="width: 300px; height:300px" />
                </div>
            </div>
        </div>

        <div style="margin:110px;">

        </div>

    </div>


</div>

<div class="jumbotron" style="background-color:#ffffff;">
    <div class="container">

        <div class="row" style="margin-top:20px;">
            <div class="col-md-4">
                <div class="image">
                    <img id="f1" src="~/Content/Img/Screenshot-LevelUP1.png" class="img-responsive img-circle" alt="LevelUP" style="width: 310px; height: 290px; padding-top:11px; padding-left:18px;" />
                    <img id="f2" src="~/Content/Img/Screenshot-LevelUP2.png" class="img-responsive img-circle" alt="LevelUP" style="width: 330px; height: 297px;" />
                </div>
            </div>

            <div class="col-md-8">
                <h1 style="font-size:32pt; font-family: Arial Narrow">
                    FÅ INDSIGT I INDIVIDUELLE OG HOLDTAKTISKE FOKUSPUNKTER
                </h1>

                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                    Med LevelUP’s detaljerede og brugervenlige redskab til analyse og statistik af kampe, vil trænere få indsigt i
                    individuelle og holdtaktiske fokuspunkter. LevelUp er værktøjet, der kan skabe et fundament for trænerens
                    taktiske dispositioner. Træneren kan give den enkelte spiller et visuelt indblik i kampspecifikke situationer.

                </p>

            </div>

        </div>

        <div style="margin:110px;">

        </div>

    </div>


</div>


<div class="jumbotron" style="background-color:#202831; color:white;">
    <div class="container">

        <div class="row" style="margin-top:25px;">

            <div class="col-md-8">
                <h1 style="font-size:31pt; font-family: Arial Narrow">
                    MÅLRETTET SPILLERSØGNING

                </h1>

                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                    Med Scout Pocket vil træneren kunne målrette sin spillersøgning efter specifikke positioner samt tekniske,
                    mentale og fysiske egenskaber. Det detaljerede indblik i den enkelte spillers egenskaber og udviklingspotentiale giver træneren bedre forudsætninger for at forbedre holdets konkurrencedygtighed.
                </p>

            </div>

            <div class="col-md-4">
                <img src="~/Content/Img/Klubprofil.png" class="img-responsive img-circle" alt="Klubprofil" style="width:300px; height:300px" />
            </div>

        </div>

        <div style="margin:110px;">

        </div>

    </div>


</div>


<div class="jumbotron" style="background-color:#ffffff;">
<div class="container">

    <div class="row" style="margin-top:20px;">

        <div class="col-md-4">
            <img src="~/Content/Img/Basisklub.png" class="img-responsive img-circle" alt="Klubbasis" style="width:290px; height:320px" />
        </div>

        <div class="col-md-8">
            <h1 style="font-size:32pt; font-family: Arial Narrow; word-wrap: break-word;">
                GRATIS PROFIL
            </h1>

            <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                Opret en gratis profil nu og få den fulde oplevelse af Scout Pocket. Hvis I ønsker at give træneren muligheden for at få indblik i individuelle og holdtaktiske fokuspunkter, kan I tilkøbe et abonnement med LevelUP til en fordelagtig pris.

            </p>

            <div style="margin-left: 85px">
                <p>
                    <a class="btn btn-warning btn-lg createProfile" id="createProfile" data-redir="/opret-klub" style="border-radius:  24px; width:210px; margin-bottom: 60px; margin-top:135px;">Opret profil</a>
                </p>
            </div>
        </div>
         
        <div style="margin:50px;">

        </div>

    </div>


</div>
    
</div>

@Html.Partial("_ConditionsPartialView")