﻿@model Scoutpocket.ViewModels.ClubProfileViewModel

<div class="jumbotron" style="background-color:#ffffff; color:black;">

    <div class="container" style="font-family: Arial Narrow; text-align: center; margin-bottom:-40px;">
        <div class="row">
            <h1 style="font-size: 34pt;border-bottom: 1px solid; display: inline;">
                Samarbejdspartnere
            </h1>
        </div>
    </div>

</div>

<div class="jumbotron" style="background-color:#ffffff">
    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <h1 style="font-size:32pt; font-family: Arial Narrow;">
                    MENTHO
                </h1>
                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow; color: black">
                    Thomas Danielsen, som er stifter af Mentho, arbejder til dagligt med atleter på højeste nationale og internationale niveau. Uafhængig af sportsgren og niveau, så er der mentale færdigheder der har indflydelse på præstationen. Med et forløb hos Thomas Danielsen arbejdes der hen imod at træne og udvikle mentale og psykologiske færdigheder, som kan føre til forbedrede præstationer, forbedret selvtillid og generelt større glæde ved sporten.
                </p>
            </div>

            <div class="col-md-4">
                <img src="~/Content/Img/Collaborators/Mentho2.png" class="img-responsive img-circle" alt="Mentho" style="width:300px" />
            </div>

        </div>

        <div style="margin:25px;">

        </div>

    </div>

</div>


<div class="jumbotron" style="background-color:#202831; color: white">
    <div class="container">

        <style>
            .nopadding {
                padding: 0 !important;
                margin: 0 !important;
            }
        </style>

        <div class="row" style="margin-top:25px;">
            <div class="col-md-4">
                <img src="~/Content/Img/Collaborators/Jacobstroem2.png" class="img-responsive img-circle" alt="Jacobstroem" style="width:300px" />
            </div>
            <div class="col-md-8 ">
                <h1 style="font-size:32pt; font-family: Arial Narrow">
                    JACOBSTROEM FITNESS
                </h1>
                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                    Jacob Strøm har igennem længere tid arbejdet målrettet med elitefodboldspillere. Derfor har han stor erfaring med at designe individuelle træningsprogrammer, som er periodiseret efter ens behov. Med Jacob Strøm får du en personlig fysisk træner som presser, motiverer og rykker dig samtidig med at der sættes stor fokus på at optimere din teknik og dermed dit udbytte af træningen.
                </p>
            </div>

        </div>

        <div style="margin:65px;">

        </div>

    </div>

</div>

<div class="jumbotron" style="background-color:#ffffff">
    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <h1 style="font-size:32pt; font-family: Arial Narrow">
                    LevelUP
                </h1>
                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                    LevelUP har forsøgt at revolutionere fodboldverdenen, med et detaljeret og brugervenligt redskab til analyse og statistik af kampe. Med LevelUP får trænere en enestående mulighed for at skabe et fundament for deres taktiske dispositioner, da redskabet giver indsigt i individuelle og holdtaktiske fokuspunkter.
                </p>
            </div>

            <div class="col-md-4">
                <img src="~/Content/Img/Collaborators/LevelUP2.png" class="img-responsive img-circle" alt="LevelUP" style="width:300px" />
            </div>

        </div>

        <div style="margin:20px;">

        </div>

    </div>


</div>

<div class="jumbotron" style="background-color:#202831; color:white">
    <div class="container">

        <div class="row" style="margin-top:25px;">

            <div class="col-md-4">
                <img src="~/Content/Img/Collaborators/Amori2.png" class="img-responsive img-circle" alt="Amori" style="width:300px" />
            </div>

            <div class="col-md-8">
                <h1 style="font-size:32pt; font-family: Arial Narrow">
                    AMORI
                </h1>
                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                    Anita Beith Kjeldsen, som er stifter af Amori, er international certificeret ICI Mind Coach og professionel mentaltræner. Med et forløb hos Anita arbejdes der hen imod at realisere dit fulde potentiale og maksimere dine sportspræstationer. Dette opnås ved at arbejde målrettet mod dine mål med konkrete coaching værktøjer, som giver dig konkrete handlepunkter at arbejde ud fra.
                </p>
            </div>



        </div>

        <div style="margin:65px;">

        </div>

    </div>


</div>



