﻿@{
    ViewBag.Title = "Handelsbetingelser";
}
<div class="container">

    <h1 style="margin-top: 35px; margin-bottom: 25px">Handelsbetingelser</h1>

    <p>

        <b>
            1. Anvendelse af Scout Pocket
        </b>

        <br />
        Når du opretter en bruger på Scout Pocket, er det vigtigt, at du angiver de rigtige informationer. Scout Pocket forbeholder sig ret til at ændre, eller slette, en bruger, hvis vi har mistanke om, at de angivne informationer ikke relaterer sig til en brugers rigtige identitet, heriblandt navn, alder, klub eller serie/årgang.
        Ved oprettelse af en bruger accepterer du samtidig, at du holder din profil opdateret, herunder skift af klub, position mm.. Kun sådan kan Scout Pocket sikre sin validitet blandt andre brugere. Hvis din profil skal opdateres skal du kontakte os på scoutpocket@outlook.dk, hvor du beskriver, hvilke justeringer der skal foretages.<br />
        Enhver anvendelse eller adgang af nogen under 15 år er forbudt.<br />
        Du accepterer, at vi automatisk må opgradere Scout Pocket, og at disse handelsbetingelser vil indgå i en sådan opgradering.
    </p>

    <p>

        <b>
            2. Brugerindhold
        </b>

        <br />
        Som bruger på Scout Pocket har du mulighed for at tilføje et profilbillede. Når du uploader noget på vores hjemmesiden, giver du Scout Pocket en tidsubegrænset, ikke-eksklusiv og uoverdragelig licens til at anvende indholdet på alle medier. Denne licens ophører, hvis du vælger at slette din bruger hos Scout Pocket. Ydermere kan fjernet indhold være opbevaret i backup kopier i en tidsbegrænset periode. Dette er imidlertid ikke tilgængelig for andre.
        Scout Pocket står ikke til ansvar for brugerindholdet. Vi forbeholder os ret til at fjerne og ændre brugerindhold, hvis indholdet mangler relevans eller på noget måde strider imod andre vilkår.
        Vi værdsætter konstruktiv feedback fra vores brugere, og har stor interesse i at forbedre og udvikle vores produkt. Hvis du tilføjer feedback og/eller kommentarer  forbeholder Scout Pocket sig ret til at anvende det uden nogen form for restriktioner eller kompensationer. Scout Pocket er imidlertid ikke forpligtet til at fremvise eller anvende det.
    </p>

    <p>
        <b>
            3. Sikkerhed
        </b>

        <br />
        Vi går meget op i at opretholde sikkerheden af din bruger og dets indhold, men kan desværre ikke garantere det. Derfor skal du kontakte os, hvis du har mistanke om, at andre omgås din bruger på ulovlig vis.
    </p>

    <p>

        <b>
            4. Informationer
        </b>

        <br />
        For at du kan blive en del af Scout Pocket er vi nødt til at indsamle en række personlige informationer som navn, adgangskode, fødselsdato, e-mail og køn, samt informationer som klub, serie/årgang og position som er med til at skabe din fodbold identitet. Vores behandling af sådanne oplysninger er omfattet af, og vil ske i overensstemmelse med, lov om behandling af personoplysninger.
        Derudover indhenter vi informationer vedrørende din interaktion på hjemmesiden, for hele tiden at kunne optimere brugervenligheden på vores tjenester. Ydermere vil du modtage e-mails ved oprettelse af en bruger samt ved udløb af dit abonnement.

    </p>

    <p>

        <b>
            5. Ansvarsfraskrivelse
        </b>

        <br />
        Scout Pocket har i intet tilfælde ansvar for anvendeligheden af de tilgængelige informationer på portalen, uanset art. En hvilken som helst anvendelse af portalen sker på brugerens eget ansvar og for egen risiko.
        Scout Pocket kan således i intet tilfælde gøres erstatningsansvarlig for brugerens anvendelse af portalen. Vi påtager os i øvrigt intet ansvar for uvedkommendes overvågning, opsamling af eller adgang til dine data.
        Vi fraskriver os ansvaret for enhver skade og ethvert tab som du lider i forbindelse med dit abonnement, herunder brug af, eller manglende mulighed for brug af, vores ydelser, uanset den nærmere baggrund herfor, medmindre vi har handlet forsætligt til skade for dig eller groft uagtsomt.
        Vi fraskriver os således ansvaret for direkte tab og indirekte tab, herunder driftstab, følgeskader, tab af data og retablering af data.
        Hvis vi skulle blive holdt ansvarlig for dit brug, skal vores ansvar, i videst mulige omfang, være begrænset til et beløb svarende til den betalte abonnementspris for den gældende abonnementsperiode.

    </p>

    <p>
        <b>
            6. Betaling
        </b>

        <br />
        Scout Pocket modtager kortbetaling igennem udbyderen Clearhaus, som er en sikker betalingsgateway.
        Vi modtager kortene Visa, Visa/Dankort, Visa Electron og Mastercard.
        Der kan forekomme betalingsgebyrer på enkelte betalingskort.

    </p>

    <p>

        <b>
            7. Abonnementspris
        </b>

        <br /><br />

        <b>
            7.1 Spiller
        </b>

        <br />
        Ved oprettelse har du mulighed for at købe forskellige abonnementer med vores samarbejdspartnere. Scout Pockets produkt er inklusiv i alle abonnementer.
        Betalingen for abonnementerne med vores samarbejdspartnere vil foregå månedligt, hvorfor den angivne pris på hjemmesiden vil varierer afhængig af tidspunktet for tilmelding. Priserne for abonnementer vil løbende blive opdateret. Den samlede pris for abonnementerne er følgende:

    </p>

    <li style="padding-left:12px">
        <b> Scout Pocket + Fysisk træner: </b> 1250 kr.
    </li>
    <li style="padding-left:12px">
        <b>Scout Pocket + Mental træner: </b> 2250 kr.
    </li>
    <li style="padding-left:12px">
        <b>Scout Pocket + Fysisk træner + Mental træner: </b> 3500 kr.
    </li>

    <br />

    <p>

        <b>
            7.2 Klub
        </b>

        <br />
        Ved oprettelse af klub er det muligt at købe et abonnement med LevelUP, som inkluderer en licens til LevelUP´s produkt. LevelUP giver yderligere klubben mulighed for at låne diverse udstyr uden omkostninger.
        Ved køb af abonnement med LevelUP, vil den første sæson (hhv. forårssæson og efterårssæson) være gratis. Herefter vil abonnementerne have en varighed på 12 måneder, og have følgende priser:

    </p>

    <li style="padding-left:12px">
        <b>Scout Pocket + LevelUP: </b> 5000 kr.
    </li>
    <li style="padding-left:12px">
        <b>Scout Pocket + LevelUP Eksklusiv: </b> 7500 kr.
    </li>

    <br />

    <p>

        <b>
            8. Køb af abonnement
        </b>
        <br />
        Ved køb af abonnementsaftaler godkender du, at Scout Pocket er berettiget til løbende at gennemføre tranaktioner på dit betalingskort.
        Du giver med aftalens indgåelse tilladelse til, at Scout Pocket må gennemføre én betalingstransaktion for hver betalingsperiode (måned), så længe abonnementet løber.
        Betalingstransaktionen gennemføres på den sidste bankdag før en ny betalingsperiode begynder. Scout Pocket er alene berettiget til at gennemføre betalingstransaktioner på abonnementsbeløbet for den kommende abonnementsperiode. Eventuelle yderligere beløb skal særskilt godkendes af dig.
        Efter betalingen er gennemført har du adgang til din profil.
        <br />
        Den månedlige abonnementspris er oplyst ved aftalens indgåelse og kan fra Scout Pocket ændres med en varsel på 45 dage til udgangen af en måned. Dit abonnement vil normalt blive oprettet straks efter accept af disse betingelser. Du modtager skriftlig bekræftelse på oprettelse af abonnementet pr. e-mail.
        Såfremt der sker ændringer i dine kontaktoplysninger påhviler det dig at informere os om dette ved at sende en e-mail til scoutpocket@outlook.dk.

    </p>

    <p>

        <b>
            9. Fortrydelsesret
        </b>
        <br />
        Hos Scout Pocket har du 14 dages fortrydelsesret. Fortrydelsesfristen udløber 14 dage efter den dag du har købt dit abonnement.
        Hvis du vælger at fortryde dit køb, skal du inden udløbet af fortrydelsesfristen give Scout Pocket meddelelse om, at du ønsker at fortryde dit køb. Meddelelsen kan gives til Scout Pocket på scoutpocket@outlook.dk. I meddelelsen bedes du gøre os tydeligt opmærksom på, at du ønsker at udnytte din fortrydelsesret. Derudover bedes du opgive bankoplysninger, så det aftalte beløb kan refunderes.

    </p>

    <p>

        <b>
            10. Opsigelse af abonnement
        </b>
        <br />
        Dit abonnement fornyes automatisk. Du vil forinden abonnementets udløb modtage e-mails med påmindelse herom. Hvis du fortryder fornyelse af dit abonnement kan du, jf. punkt 9, benytte dig af dine 14 dages fortrydelsesret.
        Indgående abonnementsaftaler er gældende, indtil de opsiges af Scout Pocket eller dig. Du kan opsige dit abonnement med minimum 30 dags varsel til udgangen af en måned. Du har mulighed for at opsige dit abonnement via dit medlemslogin på Scout Pockets hjemmeside.
        Opsigelse fra dig indebærer ikke tilbagebetaling af forudbetalt abonnement.
        <br />
        I tilfælde af udeblivende betaling modtager du en påmindelsesskrivelse. Sker der fortsat ikke betaling modtager du en e-mail med meddelelse om ophør af abonnementet med de deraf følgende virkninger, herunder sletning af dine data.
    </p>

    <p>

        <b>
            11. Ophævelse
        </b>
        <br />
        Vi er berettiget til øjeblikkeligt at ophæve dit abonnement ved væsentlig misligholdelse af dine forpligtelser i henhold til Handelsbetingelserne.
        Ved afgørelsen af, hvornår der foreligger væsentlig misligholdelse i øvrigt, herunder evt. fra vores side, skal dansk rets almindelige regler finde anvendelse.
        Under ingen omstændigheder kan der i tilfælde af ophævelse kræves tilbagebetaling af betalinger til den misligholdende part for så vidt angår perioden forud for tidspunktet for ophævelsens meddelelse.

    </p>

    <p style="margin-bottom:75px">

        <b>
            12. Kontakt os
        </b>
        <br />
        Hvis du har spørgsmål vedrørende disse handelsbetingelser, er du velkommen til at kontakte os på scoutpocket@outlook.dk.

    </p>

</div>
