﻿<div class="container">

    <div class="col-md-4">
        <h1 style="font-size:24pt; font-family: Arial Narrow; margin-top: 50px">Scout Pocket</h1>

        <table class="table">
            <tr>
                <td><img class="img-responsive" src="~/Content/Img/Profilbillede-Tom.png" alt="" style="width:200px; height: 200px"></td>
                <td class="pull-left">
                    <h4 style="font-family: Arial Narrow">Tom Anibikumba Issac</h4>
                    <p style="font-family: Arial Narrow; font-size:11pt">Partner</p>
                </td>
            </tr>
            <tr>
                <td><img class="img-responsive" src="~/Content/Img/Profilbillede-Søren.jpg" style="width:200px; height: 200px" alt=""></td>
                <td>
                    <h4 style="font-family: Arial Narrow">Søren Lynge Svendsen</h4>
                    <p style="font-family: Arial Narrow; font-size:11pt">Partner</p>
                </td>
            </tr>
            <tr>
                <td><img class="img-responsive" src="~/Content/Img/Profilbillede-Jesper.png" alt="" style="width:200px; height: 200px"></td>
                <td>
                    <h4 style="font-family: Arial Narrow">Jesper Wasilewski Larsen</h4>
                    <p style="font-family: Arial Narrow; font-size:11pt">Partner</p>
                </td>
            </tr>

        </table>

    </div>


    <div class="col-md-4">
        <h1 style="font-size:24pt; font-family: Arial Narrow; margin-top: 50px">Kontakt Scout Pocket</h1>

        <p class="firma" style="font-family: Arial Narrow; font-size:12pt; margin-top: 26px"> Scout Pocket <br /> Stokbrogade 14 3.th <br /> 9800 Hjørring  <br /> CVR-nr: 37231010</p>

        <div id="map" style="width:315px; height:315px; margin-top: 30px"></div>

        <script>
            function myMap() {
                var myCenter = new google.maps.LatLng(57.46156909999999, 9.984352899999976);
                var mapCanvas = document.getElementById("map");
                var mapProp = { center: myCenter, zoom: 9 };
                var map = new google.maps.Map(mapCanvas, mapProp);
                var marker = new google.maps.Marker({ position: myCenter });
                marker.setMap(map);

                google.maps.event.addListener(marker, 'click', function () {
                    map.setZoom(18);
                    map.setCenter(marker.getPosition());
                });
            }
        </script>


        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr7EC3sUebiRIwt8uzkoMC820zdNCYbTA&callback=myMap"
                type="text/javascript"></script>
    </div>

    @{ string firstname = ViewBag.firstname;}
    @{ string email = ViewBag.email;}
    @{ string body = ViewBag.body;}
    @{ string message = ViewBag.message;}


    <form action="/Home/SendMail" id="formContact" role="form" method="post">

        <div class="col-md-4">


            <div class="form-group">
                <h1 style="font-size:24pt; font-family: Arial Narrow; margin-top: 50px">Send os en e-mail</h1>
                <div class="input-group" style="margin-top: 30px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="firstName" value="@firstname" placeholder="Navn" class="form-control" type="text">
                </div>

            </div>


            <!-- Text input-->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" value="@email" placeholder="E-Mail adresse" class="form-control" type="text">

                </div>
            </div>

            <div class="form-group">

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="body" value="@body" placeholder="Emne" class="form-control" type="text">

                </div>
            </div>

            <div class="form-group">
              

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <textarea size="3" value="@message" class="form-control" name="message" placeholder="Besked" style="height: 150px;"></textarea>

                </div>
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-warning">Send e-mail <span class="glyphicon glyphicon-send"></span></button>

            </div>










        </div>
    </form>
</div>
