﻿<link href="~/Content/Home/Index.css" rel="stylesheet" />




<div class="embed-responsive embed-responsive-16by9">
    <div class="container text-center" style="padding-top:15%; color:white;">

        <div class="headline">
            <h1 style="font-size: 4.5vw; font-family: Arial Narrow;">Velkommen til Scout Pocket</h1>

        </div>
        <div class="description">
            <div class="inner"><i style="font-size: 3.5vw; font-family: Arial Narrow;">Nye øjne, nye muligheder</i></div>
        </div>

    </div>
    <video class="img-responsive" src="/Content/Video/Video-spiller.mp4" autoplay loop />

</div>


<div class="jumbotron player">
    <div class="container" style="min-height:92vh;">
        <div class="row">



            <div class="col-md-8">
                <h1 style="font-family: Arial Narrow">
                    Spiller
                </h1>

                <ul style="padding-top:30px;">
                    <li><p style="font-size:12pt; font-family: Arial Narrow; text-transform: uppercase;">Bliv scoutet </p></li>

                </ul>

                <ul>
                    <p style="font-size:12pt; font-family: Arial Narrow; margin-top:-10px;">Nye øjne, nye muligheder</p>
                </ul>
                <ul>
                    <li> <p style="font-size:12pt; font-family: Arial Narrow; padding-top:15px; text-transform: uppercase;">Få løbende vurderinger af dine tekniske, mentale og fysiske egenskaber </li>
                    <li> <p style="font-size:12pt; font-family: Arial Narrow; padding-top:15px; text-transform: uppercase;">Lad Scout Pocket forme dit potentiale </li>
                    <li> <p style="font-size:12pt; font-family: Arial Narrow; padding-top:15px; text-transform: uppercase;">Fra vurdering til forandring </li>
                </ul>
                <ul>
                    <p style="font-size:12pt; font-family: Arial Narrow; margin-top:-10px;">Vores samarbejdspartnere kan hjælpe dig med at forbedre dine mentale og fysiske evner</p>
                </ul>
                <ul>
                    <li> <p class="tekst-spiller" style="text-transform: uppercase; padding-top:15px; font-size:12pt; font-family: Arial Narrow;">Opret en gratis profil</li></p>
                </ul>




                <a href="#" id="createProfile" data-redir="/opret-spiller" class="createProfile btn btn-warning btn-lg" style="border-radius: 24px; width:190px; margin-top:20px; margin-left:40px; font-family: Arial Narrow; font-size: 14pt">Opret profil</a>

            </div>




            <!-- now that we have used up all the 12 coloumbs in this row , lets go create a new "row class" , Alas in the same container -->
        </div>  <!-- end of row -->
    </div>
</div>


<div class="jumbotron trainer">
    <div class="container" style="min-height:90vh;">
        <div class="row">

            <div class="col-md-6 pull-right">
                <h1 style="font-family: Arial Narrow">
                    Klub
                </h1>

                <ul style="padding-top:30px;">
                    <li> <p style="text-transform: uppercase; font-size:12pt; font-family: Arial Narrow">Facilitére spillerens udviklingspotentiale</li></p>

                </ul>

                <ul>
                    <p style="font-size:12pt; margin-top:-10px; font-family: Arial Narrow">Hjælp klubbens trænere med at facilitére den enkelte spillers udviklingspotentiale</p>
                </ul>



                <ul>
                    <li> <p style="text-transform: uppercase; font-size:12pt; font-family: Arial Narrow; padding-top:15px;">VIDEOANALYSE OG STATISTIK AF KAMPE</li></p>

                </ul>

                <ul>
                    <p style="font-size:12pt; margin-top:-10px; font-family: Arial Narrow">Få indsigt i individuelle og holdtaktiske fokuspunkter gennem let tilgængelig videoanalyse og statistik af kampe</p>
                </ul>

                <ul>
                    <li> <p style="text-transform: uppercase; font-size:12pt; font-family: Arial Narrow; padding-top:15px;">MÅLRETTET SPILLERSØGNING</li></p>

                </ul>

                <ul>
                    <p style="font-size:12pt; margin-top:-10px; font-family: Arial Narrow">Giv klubbens trænere mulighed for at forbedre holdets konkurrencedygtighed gennem målrettet spillersøgning</p>
                </ul>





                <ul>
                    <li> <p style="text-transform: uppercase; font-size:12pt; margin-top:20px; font-family: Arial Narrow">Opret en gratis profil</li></p>
                </ul>




                <a href="#"  id="createProfile" data-redir="/opret-klub" class="createProfile btn btn-warning btn-lg" style="border-radius: 24px; width:190px; margin-top:20px; margin-left:40px; font-family: Arial Narrow; font-size: 14pt">Opret profil</a>

            </div>
        </div>






    </div>
</div>
@Html.Partial("_ConditionsPartialView")


<div class="jumbotron scout-pocket">
    <div class="container" style="min-height:85vh;">
        <div class="row">
            <div class="col-md-6">
                <h1 style="font-family: Arial Narrow">Scout Pocket</h1>

                <p style="font-size:12pt; font-family: Arial Narrow; margin-top:25px;">
                    Scout Pockets formål er at fremme den enkelte spillers udvikling. Vores detaljerede vurdering af specifikke egenskaber giver den enkelte spiller mulighed for at få indsigt i udviklingsområder. Samtidig tilbyder vi, med udvalgte samarbejdspartnere, personspecifikke handlingsforslag til forbedring af den enkelte spillers tekniske, mentale og fysiske evner. Klubber og trænere støtter vi ved at tilbyde redskaber der kan facilitere individuel og holdtaktisk udvikling.

                </p>

                <p style="font-size:12pt; font-family: Arial Narrow">
                    Scout Pocket skal være en samskabende platform, hvorigennem spiller, træner og klub sammen faciliterer den enkelte spillers udvikling. Vi er lykkedes når Scout Pocket er en integreret del af spillere, trænere og klubbers måde at tænke og håndtere personlig udvikling på.

                </p>

                <p style="font-size:12pt; font-family: Arial Narrow">
                    Vores mission og vision er styret af at møde den enkelte spiller i øjenhøjde - der hvor de er og har ambitioner om at skulle hen. Vi anerkender, at mange spillere har potentiale, og at det kan være svært at tage hånd om sin egen udvikling. Samtidig anerkender vi, at det for træner og klub kan være vanskeligt at fremme hver enkelte spillers udvikling.

                </p>

                <p style="font-size:12pt; font-family: Arial Narrow">
                    ”Nye øjne – nye muligheder”. Med Scout Pocket tilbyder vi den enkelte spiller at blive set med nye øjne, hvilket kan skabe nye muligheder for personlig udvikling.
                </p>

            </div>

        </div>
    </div>
</div>

