﻿
<link href="~/Content/Home/Player.css" rel="stylesheet" />
<div class="embed-responsive embed-responsive-16by9">
    <div class="container-video text-center" style="padding-top:15%;">

        <div class="headline">
            <h1 style="font-size:4vw; font-family: Arial Narrow">Tag hånd om din personlige udvikling med Scout Pocket</h1>

        </div>
        <div class="description">
            <div class="inner"><i style="font-size:3.2vw; font-family: Arial Narrow">Nye øjne, nye muligheder</i></div>
        </div>

    </div>
    <video class="img-responsive" src="~/Content/Video/Video-spiller.mp4" autoplay loop />
    @*<iframe class="embed-responsive-item" width="640" height="480" src="~/Content/Video/spiller.mp4" frameborder="0"  allowfullscreen></iframe>*@
</div>

<div id="jumbotron" style="background-color:#ffffff">

    <div class="container">

        <div>
            <div class="row" style="margin-top:60px;">

                <div class="col-md-8">

                    <h1 style="font-family: Arial Narrow; font-size: 34pt">
                        BLIV SCOUTET
                    </h1>
                    <h2 style="margin-top:-2px; font-family: Arial Narrow">Nye øjne, nye muligheder</h2>
                    <P style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">Hos Scout Pocket stræber vi efter at kvalitetssikre vores vurderinger af dine egenskaber ved nøje at udvælge scouts. <br /> Bliv set med nye øjne og skab nye muligheder for dig som fodboldspiller. <P />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Img/Scout.png" class="img-responsive img-circle" alt="Scout" style="width: 300px; height:300px" />
                </div>
            </div>
        </div>

        <div style="margin:125px;">

        </div>
    </div>
</div>

<div class="jumbotron" style="background-color:#202831; color:white;">
    <div class="container">

        <div class="row" style="margin-top:25px;">
            <div class="col-md-4">
                <img src="~/Content/Img/Profil.png" class="img-responsive img-circle" alt="Profil" style="width: 300px; height:300px" />
            </div>
            <div class="col-md-8">
                <h1 style="font-family: Arial Narrow; font-size: 32pt">
                    FÅ LØBENDE VURDERINGER AF DINE EGENSKABER
                </h1>

                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                    Du bliver scoutet op til flere gange i løbet af sæsonen. På denne måde kvalitetssikrer Scout Pocket
                    vurderingerne af dine egenskaber. Du vurderes fra 1-20 inden for tekniske, mentale og fysiske egenskaber.
                </p>

            </div>

        </div>

        <div style="margin:77px;">

        </div>

    </div>


</div>


<div class="jumbotron" style="background-color:#ffffff">
    <div class="container">

        <div class="row" style="margin-top:0px;">

            <div class="col-md-8">
                <h1 style="font-family: Arial Narrow; font-size: 33pt">
                    BLIV SET AF ANDRE KLUBBER
                </h1>

                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                    Med en profil hos Scout Pocket kan du vise dine egenskaber frem for andre klubber. På din spillerprofil vil du løbende kunne følge med i, hvilke klubber der kigger nærmere på din profil.
                </p>
            </div>

            <div class="col-md-4">
                <img src="~/Content/Img/Set-profil.png" class="img-responsive img-circle" alt="Set-profil" style="width: 320px; height:260px" />
            </div>

        </div>

        <div style="margin:70px;">

        </div>

    </div>


</div>

<div class="jumbotron" style="background-color:#202831; color:white;">
    <div class="container">

        <div class="row" style="margin-top:25px;">

            <div class="col-md-4">
                <div class="image">
                    <img id="f1" src="~/Content/Img/Collaborators/Mentho2.png" class="img-responsive img-circle" alt="Mentho" style="width: 300px; height:300px;" />
                    <img id="f2" src="~/Content/Img/Collaborators/Jacobstroem2.png" class="img-responsive img-circle" alt="Jacobstroem" style="width: 300px; height:300px;" />
                    <img id="f3" src="~/Content/Img/Collaborators/Amori2.png" class="img-responsive img-circle" alt="Amori" style="width: 300px; height:300px;" />
                    <img id="f4" src="~/Content/Img/Collaborators/LevelUP2.png" class="img-responsive img-circle" alt="LevelUP" style="width: 300px; height:300px;" />
                </div>
            </div>

            <div class="col-md-8">
                <h1 style="font-family: Arial Narrow; font-size: 32pt">
                    LAD SCOUT POCKET FORME DIT POTENTIALE
                </h1>

                <p style="font-size:15pt; margin-top:25px; font-family: Arial Narrow">
                    Scout Pocket er først og fremmest for dig, der ønsker at tage hånd om din udvikling. Den detaljerede indsigt
                    i udviklingen af dine tekniske, mentale og fysiske egenskaber gør det muligt for dig at fokusere på specifikke
                    udviklingsområder. Med vores samarbejdspartnere giver vi dig en enestående mulighed for at forbedre dine
                    mentale og fysiske evner. Herved giver du dig selv de bedste forudsætninger for at få det maksimale ud af
                    dit potentiale.
                </p>


            </div>

        </div>

        <div style="margin:70px;">

        </div>

    </div>


</div>

<div class="jumbotron" style="background-color:#ffffff">
    <div class="container">

        <div class="row" style="margin-top:0px;">

            <div class="col-md-8">
                <h1 style="font-family: Arial Narrow; font-size: 32pt;">
                    GRATIS PROFIL
                </h1>

                <p style="font-size:15pt; margin-top:20px; font-family: Arial Narrow">
                    Opret en gratis profil nu og få den fulde oplevelse af Scout Pocket. Hvis du ønsker at sætte fokus på de fysiske og/eller mentale aspekter, kan du tilkøbe et abonnement med vores samarbejdspartnere til fordelagtige priser.
                </p>

            </div>

            <div class="col-md-4">

                <img src="~/Content/Img/basis.png" class="img-responsive img-circle" alt="Basis" style=" width:315px; height:315px;" />

            </div>

            <div style="text-align: center">

                <p>

                    <a class="btn btn-warning btn-lg createProfile" id="createProfile" data-redir="/opret-spiller" style="border-radius:24px; width:210px;  margin-top:40px;">Opret profil</a>
                </p>
            </div>

        </div>
      
        <div style="margin:35px;">

        </div>

    </div>


</div>
@Html.Partial("_ConditionsPartialView")