﻿
@using Scoutpocket.Models.Database;
@model Tuple<List<Properties>, List<SubProperties>, List<Profile>>
@{
    var getPlayerID = Session["getPlayerID"];

    var getPlayerBirth = Session["getPlayerBirth"];

    var getPlayerPosition = Session["getPlayerPosition"];

    var getScoutID = Session["getScoutID"];

    // Parsing some sessionvariables to viewbags from anthor view, AddPlayerProperties.cshtml
    // If the player have the same postion as the posistions there are added in the database then it will show.

    ViewBag.PlayerID = getPlayerID;

    ViewBag.getPlayerBirth = getPlayerBirth;

    ViewBag.PlayerPosition = getPlayerPosition;

    ViewBag.ScoutID = getScoutID;



}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/webshim/1.16.0/dev/polyfiller.js"></script>

    <script>

        webshim.activeLang('en');
        webshims.polyfill('forms');
        webshims.cfg.no$Switch = true;

    </script>
    <style>
            i.hoverOverPopOverData:hover{
        color: lightblue;
    }
    </style>
</head>
<body>

    <div class="container">

      
   

  


        @*@foreach (var item3 in Model.Item3.Where(x => x.player.PlayerID == ViewBag.PlayerID))
            {
                <h3>Vurdering af spilleren @item3.FirstName</h3>


            }*@





        <br />


        @{int PlayerID = ViewBag.PlayerID;}
        @{string PlayerBirth = Convert.ToString(ViewBag.getPlayerBirth); }
        @{int ScoutID = ViewBag.ScoutID;}
        @{int PlayerPosition = ViewBag.PlayerPosition;  }

  

        <form action="/Scout/Proptie" id="form1" role="form" method="post">

            @if (Model != null && Model.Item1.Count > 0)
            {



                foreach (var item in Model.Item1)
                {
                    <div class="col-md-12">
                        <b>


                            @item.PropertiesName 



                            <br />
                            <br />

                        </b>

                    </div>


                    foreach (var item2 in Model.Item2.Where(x => x.properties.PropertiesID == item.PropertiesID && x.PositionID == PlayerPosition))
                    {
                        <div class="col-md-12">
                            @item2.SubPropertiesName
                            <br />
                            @*@item2.SubPropertiesID*@


                        </div>


                        <div class="col-md-12">







                            @Html.DropDownList("Value", (IEnumerable<SelectListItem>)ViewBag.Value, "Vælg en værdi fra 1 - 20", new { @class = "form-control" , @required = "" })
                            @Html.ValidationMessage("Value")

                         
                            <br />

                            <div style="display:none;">
                                <input type="text" name="PlayerID" value="@PlayerID">
                                <input type="text" name="ScoutID" value="@ScoutID">
                                <input type="text" name="SubPropertiesID" value="@item2.SubPropertiesID">
                                @*<input type="text" name="PlayerBirth" value="@PlayerBirth">*@

                            </div>



                        </div>

                    }
                    <div class="col-md-12">
                        Kommentar
                        <input id="propertyId" 
                        name="PropertyId" 
                        type="hidden" 
                        value="@item.PropertiesID" />
                        <textarea class="form-control" name="PropertyComment" id="propertyComment" rows="3"></textarea>
                         <br />
                          <br />
                        </div>
                        
                }

            }
             
            <div class="col-md-12">
                <input type="submit" value="Gem" class="btn btn-default" />
            </div>
          

        </form>

     





    </div>
   
   
  
</body>
</html>
 <script>