﻿
@model IEnumerable<Scoutpocket.Models.Database.Profile>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>

    <div class="container" style="margin-top:25px;">
        <img class="img-responsive img-circle" style="margin:auto;" src="http://placehold.it/150x150" alt="">
        <p style="text-align:center; margin-top:10px;">
            Scoutnavn
        </p>


    </div>
   

    <div class="container">
        @using (Html.BeginForm("ScoutProfile", "Scout", FormMethod.Get))
        {
            <div class="input-group col-md-12">
                @Html.TextBox("search", null, new { @class = "search-query form-control", placeholder = "Søg efter spillernavn" })

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

        }

    </div>



    <div class="searchResult" style="margin-top:50px; min-height:250px; padding-top:10px; background-color:#e5e3e3;">
        
        <div class="container">

            <table class="table">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <!--<th>
                        @Html.DisplayNameFor(model => model.player.clublist.ClubName)
                    </th>-->
                    <th></th>
                </tr>



                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="4">Søg efter spillere</td>
                    </tr>
                }
                @foreach (var item in Model)
                {



                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>

                        <td>
                            @Html.ActionLink("Vurder spiller", "AddPlayerProperties", new { id = item.ProfileID })  

                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>

</body>
</html>
