﻿@model Scoutpocket.ViewModels.ScoutProfileViewModel
@{
    ViewBag.Title = "Opret scout profil";
    Layout = "~/Views/Shared/_Administration.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>  




<style>
    #exTab1 .tab-content {
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: #c7c2c2;
        padding: 5px 10px;
     
    }

    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
        margin-left:-10px;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
</style>





<div id="exTab1">
    <ul class="nav nav-pills">
        <li class="active mainclass">
            <a href="#1a" data-toggle="tab">Opret scout</a>
        </li>
        @*<li class="mainclass class2">
            <a href="#2a" data-toggle="tab">Produktgalleri</a>
        </li>*@

    </ul>
    <div class="row">
        <div class="tab-content clearfix col-lg-4">


            <div class="tab-pane  active " id="1a">

                <form action="~/Scout/CreateScout" method="post" enctype="multipart/form-data" id="myform">
                    @Html.AntiForgeryToken()

                    <div class="col-md-8">

                        <br>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fornavn" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>



                        <div class="form-group">


                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Efternavn" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">


                            @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail adresse" } })
                            @Html.ValidationMessageFor(model => model.UserMail, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">



                            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adgangskode" } })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">


                            @Html.EditorFor(model => model.UserPasswordRepeat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gentag adgangskoden" } })
                            @Html.ValidationMessageFor(model => model.UserPasswordRepeat, "", new { @class = "text-danger" })

                        </div>








                    </div>

                    <!-- <div class="col-md-8">

                        <div class="form-group">
                            <br />

                            <div id="summernote">
                                @*@Html.TextAreaFor(model => model.productDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Produktbeskrivelse" } })
                                @Html.ValidationMessageFor(model => model.productDescription, "", new { @class = "text-danger" })*@

                            </div>



                        </div>

                    </div> -->

                </form>

            </div>

        </div>



        @*<div class="tab-pane" id="2a">
                <form action="~/Account/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                    <div class="fallback img-responsive">
                        <input name="file" type="file" multiple />
                        <input type="submit" value="Upload" />
                    </div>
                </form>

            </div>*@

    </div>
    <br/>

    <div class="row">

        <button form="myform" class="btn btn-default " type="submit">Opret scout profil</button>
    </div>

    @ViewBag.Succes

    <br />



</div> <!--tab slutter her-->
