﻿@model IEnumerable<Scoutpocket.Models.Database.Profile>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RateProperties</title>
</head>
<body>
    <div> 
        hej @ViewBag.PlayerID


     
     


    </div>
</body>
</html>
