﻿@model Scoutpocket.Models.Database.User
@{
    ViewBag.Title = "Glemt adgangskode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn.btn-signin {
        /*background-color: #4d90fe; */
        background-color: #f9c63b;
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: #d39d08;
        }
</style>


<div class="container">
    <div class="row" style="margin-top: 75px; margin-bottom: 85px">
        <div class="row">


            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">


                        <div class="text-center">
                            <i class="fa fa-lock fa-3x"></i>
                            <h3 class="text-center">Glemt adgangskode?</h3>

                            <div class="panel-body">

                                @using (Html.BeginForm("ForgotPassword", "Auth"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <form class="form">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                                                    @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail adresse" } })
                                                    @Html.ValidationMessageFor(model => model.UserMail, "", new { @class = "text-danger" })


                                                    @*<input id="emailInput" placeholder="E-mail" class="form-control" type="email" oninvalid="setCustomValidity('Indtast venligst en gyldig e-mail adresse!')" onchange="try{setCustomValidity('')}catch(e){}" required="">*@
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input class="btn btn-lg btn-primary btn-block btn-signin" value="Send ny adgangskode" type="submit">
                                           
                                            </div>
                                            <div class="form-group">
                                                @ViewBag.Succes
                                            </div>
                                        </fieldset>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
