﻿@model Scoutpocket.Models.Database.User

<script src="~/Scripts/Auth/Logind.js"></script>

<link href="~/Content/Auth/Logind.css" rel="stylesheet" />


<div class="container">
    <div class="card card-container" style="margin-top:75px; margin-bottom:90px">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm(null, null, FormMethod.Post))
        {

            <form class="form-signin">


                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>

                    @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail adresse" } })

                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-log-in color-blue"></i></span>
                    @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adgangskode", onsubmit = "return validateForm()" } })

                </div>


                <br />
                <p>
                    @*@ViewBag.Error1*@
                    @ViewBag.Error
                </p>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log ind</button>
            </form><!-- /form -->
        }
        <br />
        <a href="~/glemt-adgangskode" class="forgot-password" style="font-family: Arial Narrow">
            Har du glemt din adgangskode?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->

<script type="text/javascript">

</script>