﻿body {
}

select {
    cursor:pointer;
}
i.fa {
    cursor:pointer;
}
span.hoverOverPopOverData{
    cursor:pointer;
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.socialMediaSection {
    background-color: #171818;
    color: white;
    /**Skal være hvid*/
    min-height: 200px;
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.socialMediaSection-create-club {
    background-color: #171818;
    color: white;
    /**Skal være hvid*/
    min-height: 150px;
    margin-bottom: 10px;
    padding-top: 150px;
    padding-bottom: 50px;
}

/**Root**/
.topSection {
    min-height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.playerHomeSection {
    background-color: #2b5580;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.clubHomeSection {
    background-color: #ffffff;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.buttomHomeSection {
    background-color: #2b5580;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

/**Player**/

.addPlayerSection {
    background-color: #2b5580;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.ratePlayerSection {
    background-color: #ffffff;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.playerPropertiesSection {
    background-color: #2b5580;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.playerViewsSection {
    background-color: #ffffff;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.addScoutSection {
    background-color: #2b5580;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

/**Club**/

.addClubSection {
    background-color: #2b5580;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.playerListSection {
    background-color: #ffffff;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrapper {
    background-image: url('../../Content/Img/1920x700/Forside-spiller.png');
    background-position: center; /* center the image */
    background-size: cover;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
  
  /* Retina-specific stuff here */

}


/* Large desktops and laptops */
@media (min-width: 1200px) 
{
}








    /*add club*/

    .add-club {
        position: relative;
        background: #000 url(../Content/Img/1920x700/Opret-klubprofil.png) center center;
        width: 100%;
        padding-top: 0px;
        background-size: cover;
        color: #fff;
    }


    .add-player {
        position: relative;
        background: #000 url(../Content/Img/1920x700/Opret-spillerprofil.png) center center;
        width: 100%;
        padding-top: 0px;
        background-size: cover;
        color: #fff;
    }


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /*Homepage*/




    /*add club*/

    .add-club {
        position: relative;
        background: #000 url(../Content/Img/1366x700/Opret-klubprofil.png) center center;
        width: 100%;
        padding-top: 0px;
        background-size: cover;
        color: #fff;
    }

    .add-player {
        position: relative;
        background: #000 url(../Content/Img/1920x700/Opret-spillerprofil.png) center center;
        width: 100%;
        padding-top: 0px;
        background-size: cover;
        color: #fff;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}


/* for high resolution display */






.button-spiller {
    display: block;
    height: 25px;
    width: 175px;
    margin: auto;
    background: #f9c63b;
    border: 2px solid rgba (33, 68, 72, 0.59);
    color: #fff;
    text-align: center;
    font: bold 20px Arial Narrow;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 23px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}
