﻿/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body 
{
  /* Margin bottom by footer height */
  margin-bottom: 190px;
}

.social 
{
      background-color: #171818;
      position: absolute;
      bottom: 60px;
      width: 100%;
      color: white;
      height: 130px;

    padding-top: 50px;
    padding-bottom: 50px;
}

.footer, social
{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #171818;
}