.threesy-line path.line {
  fill: none;
  stroke: #8E933A;
  stroke-width: 1px; }

.threesy-line .threesy-data-point {
  fill: #AEB136;
  stroke: #AEB136;
  stroke-width: 2; }
  .threesy-line .threesy-data-point:hover {
    stroke-width: 4; }

.threesy-line .threesy-grid-line {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 5, 5; }

.threesy-line .tick{
    fill: white;
    stroke: white;
    stroke-width: 1px;

}
.threesy-line .tick text{

    font-size: 8px;
}