﻿
.football-field {
    background-image: url(../../Content/Img/2050x925/Add-player.png);
    background-size: cover;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}

.pricing-table {
    background: transparent;
    padding: 15px;
}

.ribbon {
    width: 90px;
    height: 90px;
    position: absolute;
    overflow: hidden;
    right: 15px;
    top: 0px;
}

.ribbon-højre {
    font: bold 15px Arial Narrow;
    text-align: center;
    -webkit-transform: rotate(45deg);
    padding: 8px 0px 8px 15px;
    width: 125px;
    background-color: #1d760c;
    color: white;
    position: relative;
}

.table-column {
    border: 1px solid rgba(250,250,250,.5);
    text-align: center;
    padding: 0 30px;
    max-width: 320px;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    background: #202831;
}

    .table-column .header {
        border-bottom: 1px solid #556572;
        background: rgba(250,250,250,1);
        margin: 0 -30px;
        color: #000;
        margin-bottom: 10px;
        padding-top: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

        .table-column .header h3 {
            margin: 0 auto;
            border-bottom: 1px solid #556572;
            width: 80%;
            padding: 10px 0;
            font-family: Arial Narrow;
            font-weight: bold;
            font-size: 18pt;
        }

        .table-column .header span.price {
            font-size: 35px;
            font-weight: 400;
            font-family: Arial Narrow;
        }

.table-body p.description {
    color: #fff;
    border-bottom: 0px solid rgb(120,120,120);
    padding-bottom: 10px;
    font-size: 10.5pt;
    font-family: Arial Narrow;
}

    .table-body p.description:last-child {
        border-bottom: 0px;
    }

.table-column .sign-up-button {
    margin: 55px 0px 0px;
}

.table-column .btn {
    width: 50%;
    background: #f9c63b;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.table-body {
    margin-top: 40px;
}

.disable-selection {
    display: none !important;
}
