﻿
.football-field {
    background-image: url(../../Content/Img/2050x925/Add-player.png);
    background-size: cover;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}

.errorMessage {
    display: none;
    color: red;
}

.btn.btn-info {
    background-color: #f9c63b;
    padding: 0px;
    height: 36px;
    font-size: 15px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

    .btn.btn-info:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: #d39d08;
    }

#juicyDates > fieldset > select {
    width: 25%;
    margin-top: 10px;
    display: inline-block;
    /**Wont work..**/
}

/*#juicyDates > fieldset  {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #BirthDate {
        visibility: hidden;
        position: absolute;
        top: 0;
    }*/body {
}
