﻿body {
    color: white;
}

/* The max width is dependant on the container (more info below) credits: http://stackoverflow.com/questions/19448902/changing-the-width-of-bootstrap-popover */
.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    max-height: 100%;
}

.btn:hover {
    color: white;
}



.popover-content {
    background-color: #384444;
}

.popover-title {
    background-color: #384444;
}

.webui-popover-content {
    background-color: #384444;
}

p.hoverOverPopOverData:hover {
    color: lightblue;
}

.hoverOverPopOverData:hover {
    color: lightblue;
}

i.hoverOverPopOverData:hover {
    color: lightblue;
}

.box {
    width: 30vw;
}
