﻿body {
    background-image: url(../../Content/Img/2050x925/Add-player.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial Narrow;
}

.centered-text {
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.button-place {
    margin: 0;
    text-align: center;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 10px;
    height: 10px;
    padding: 8px;
    border: 1px solid lightgreen;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
    line-height: 2vw;
    padding-top: 4vw;
    font-style: italic;
}

.jcrop-keymgr {
    display: none;
}

#modal {
    position: absolute;
    background: black;
    width: 300px;
    height: 300px;
    display: none;
}

.preview-container {
    top: 100px;
    left: 80px;
    width: 150px;
    height: auto;
    background-color: #2185C5;
    position: relative;
}

#previewSub {
    width: 150px;
    height: auto; /* use auto here so it doesnt distort the aspect ratio of the image */
}

#abutton {
    position: absolute;
    background: red;
    top: 350px;
}

.ClubVisited
{
    margin-top: 1vw;
}