﻿
body {
    /*background-image: url(../../Content/Img/2050x925/Add-player.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 0;
        margin: 0;*/
    color: white;
    /*font-family: Arial Narrow;*/
}

.centered-text {
    text-align: center;
}

.legend {
    fill: white;
    margin: 100px auto;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 160px;
    height: 160px;
    padding: 8px;
    border: 2px solid #18af80;
    color: white;
    text-align: center;
    font: 15px Arial Narrow;
    line-height: 20px;
    padding-top: 60px;
}

.popover {
    max-width: 100%;
}
